In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_row', 1000)
import numpy as np

In [ ]:
#import pandas_profiling
#pip install -U pandas-profiling
/Users/hpb/PycharmProjects/Ironhack/Final Project/Climbing results 2018:19

In [3]:
df_boulder=pd.read_csv('/Users/hpb/PycharmProjects/Ironhack/Final Project/Climbing results 2018:19/boulder_results.csv')
df_lead =pd.read_csv('/Users/hpb/PycharmProjects/Ironhack/Final Project/Climbing results 2018:19/lead_results.csv')

### Exploring data

In [4]:
df_boulder.head()

,Competition Title,Competition Date,FIRST,LAST,Nation,StartNr,Rank,Qualification,Qualification 1,Qualification 2,Semifinal,Final,Category
0,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Naile,MEIGNAN,FRA,15.0,1,6T7z99,NaN,NaN,3T4z55,3T4z89,boulder
1,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Miriam,FOGU,ITA,27.0,2,4T8z814,NaN,NaN,3T4z55,2T4z27,boulder
2,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Vanda,MICHALKOVA,SVK,48.0,3,6T7z89,NaN,NaN,3T3z43,2T3z23,boulder
3,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Lola,SAUTIER,FRA,17.0,4,4T6z69,NaN,NaN,2T3z89,1T3z38,boulder
4,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Polina,KULAGINA,RUS,39.0,5,4T6z611,NaN,NaN,3T4z76,1T3z47,boulder

In [5]:
df_lead.head()

,Competition Title,Competition Date,FIRST,LAST,Nation,StartNr,Rank,Qualification,Qualification 1,Qualification 2,Semifinal,Final,Points,Category
0,"European Championship (L,S) - Edinburgh (GBR) ...",4 - 6 October 2019,Lucka,RAKOVEC,SLO,222.0,1,NaN,"50+1.,50+1.,50+1.,50+1.","44 2.,44 2.,44 2.,44 2.",39,46+,1.73,lead
1,"European Championship (L,S) - Edinburgh (GBR) ...",4 - 6 October 2019,Laura,ROGORA,ITA,234.0,2,NaN,"16+24.,16+24.,16+24.,16+24.","36+7.,36+7.,36+7.,36+7.",39+,45+,15.62,lead
2,"European Championship (L,S) - Edinburgh (GBR) ...",4 - 6 October 2019,Luce,DOUADY,FRA,229.0,3,NaN,"48+3.,48+3.,48+3.,48+3.","30+15.,30+15.,30+15.,30+15.",38+,43,7.83,lead
3,"European Championship (L,S) - Edinburgh (GBR) ...",4 - 6 October 2019,Mina,MARKOVIC,SLO,237.0,4,NaN,"16+24.,16+24.,16+24.,16+24.","36+7.,36+7.,36+7.,36+7.",43+,42+,15.62,lead
4,"European Championship (L,S) - Edinburgh (GBR) ...",4 - 6 October 2019,Jessica,PILZ,AUT,213.0,5,NaN,"46+5.,46+5.,46+5.,46+5.","42+3.,42+3.,42+3.,42+3.",38+,42,3.87,lead

In [6]:
df_boulder['Competition Title'].value_counts()

IFSC Youth World Championships -  Arco (ITA) 2019                    944
IFSC Youth World Championships -  Moscow (RUS) 2018                  802
European Youth Cup (B) - Graz (AUT) 2019                             656
European Youth Championships (B) - Brussels (BEL) 2018               602
European Youth Championships (B) - Brixen (ITA) 2019                 564
European Youth Cup (B) - Graz (AUT) 2018                             550
European Youth Cup (B) - Sofia (BUL) 2019                            516
European Youth Cup (B) - Soure (POR) 2019                            482
European Youth Cup (B) - Delft (NED) 2018                            422
European Youth Cup (B) - Sofia (BUL) 2018                            386
European Youth Cup (B) - Soure (POR) 2018                            318
Asian Youth Championships - Chongqing (CHN) 2018                     302
IFSC Climbing World Championships - Innsbruck (AUT) 2018             262
IFSC Climbing Worldcup (B) - Munich (GER) 2018                       230
IFSC Climbing Worldcup (B) - Meiringen (SUI) 2019                    215
IFSC Climbing Worldcup (B,S) - Moscow (RUS) 2018                     209
IFSC Climbing Worldcup (B) - Meiringen (SUI) 2018                    208
IFSC Climbing Worldcup (B) - Munich (GER) 2019                       208
IFSC Climbing Worldcup (B,S) - Moscow (RUS) 2019                     202
IFSC Climbing World Championships - Hachioji (JPN) 2019              193
IFSC Climbing Worldcup (B,S) - Chongqing (CHN) 2019                  186
IFSC Climbing Worldcup (B,S) - Wujiang (CHN) 2019                    180
IFSC Climbing Worldcup (B) - Hachioji (JPN) 2018                     159
IFSC Climbing Worldcup (B) - Vail (USA) 2018                         149
IFSC Climbing Worldcup (B,S) - Tai'an (CHN) 2018                     140
IFSC Climbing Worldcup (B,S) - Chongqing (CHN) 2018                  130
IFSC Climbing Worldcup (B) - Vail (USA) 2019                         112
European Championship (B) - Zakopane (POL) 2019                       91
Asian Championships - Kurayoshi (JPN) 2018                            87
Asia Cup (B) - Hong Kong (HKG) 2018                                   73
Asia Cup (B,S) - Bangkok (THA) 2018                                   59
IFSC PanAmerican Championship (L, S, B, C) - Guayaquil (ECU) 2018     55
Asian Cup (B) - Hong Kong (HKG) 2019                                  49
Name: Competition Title, dtype: int64

In [8]:
df_lead['Competition Title'].value_counts()

IFSC Youth World Championships -  Arco (ITA) 2019                    868
IFSC Youth World Championships -  Moscow (RUS) 2018                  778
European Youth Cup (S,L) - Imst (AUT) 2019                           604
European Youth Championship (L, S) - Imst 2018                       564
European Youth Cup (L) - Munich (GER) 2018                           456
European Youth Cup (L) - St. Pierre Faucigny (FRA) 2019              452
IFSC Climbing World Championships - Innsbruck (AUT) 2018             450
IFSC Climbing Worldcup (L, S) - Chamonix (FRA) 2019                  428
European Youth Cup (L) - Ostermundigen (SUI) 2019                    426
IFSC Climbing Worldcup (L,S) - Chamonix (FRA) 2018                   406
IFSC Climbing World Championships - Hachioji (JPN) 2019              382
IFSC Climbing Worldcup (L, S) - Villars (SUI) 2019                   366
European Youth Cup (L,S) - Voiron (FRA) 2018                         362
European Youth Cup (L) - Uster (SUI) 2018                            360
European Youth Cup (L) - Bruneck (ITA) 2018                          354
IFSC Climbing Worldcup (L,S) - Arco (ITA) 2018                       342
IFSC Climbing Worldcup (L) - Briançon (FRA) 2019                     334
IFSC Climbing Worldcup (L,S) - Villars (SUI) 2018                    310
Asian Youth Championships - Chongqing (CHN) 2018                     300
IFSC Climbing Worldcup (L) - Briançon (FRA) 2018                     300
IFSC Climbing Worldcup (L) - Kranj (SLO) 2019                        250
IFSC Climbing Worldcup (L) - Kranj (SLO) 2018                        216
Asian Championships - Kurayoshi (JPN) 2018                           166
IFSC Climbing Worldcup (L,S) - Wujiang (CHN) 2018                    138
IFSC Climbing Worldcup (L,S) - Xiamen (CHN) 2018                     134
IFSC PanAmerican Championship (L, S, B, C) - Guayaquil (ECU) 2018    102
European Championship (L,S) - Edinburgh (GBR) 2019                    82
Name: Competition Title, dtype: int64

### Sorting Columns

In [17]:
df_boulder =df_boulder.rename(columns={column:column.upper().replace(" ", "_") for column in df_boulder.columns})

In [18]:
df_lead =df_lead.rename(columns={column:column.upper().replace(" ", "_") for column in df_lead.columns})

In [19]:
df_lead[['COMP','PLACE']] = df_lead['COMPETITION_TITLE'].str.split('\s+-\s+', expand=True)
df_lead['LOCATION'] = df_lead['PLACE'].str.extract('([A-Z]\w{0,})', expand=True)
df_lead['YEAR'] = df_lead['PLACE'].str.extract('(\d\d\d\d)', expand=True)
df_lead['COUNTRY'] = df_lead['PLACE'].str.extract('(\w*[A-Z]\w*[A-Z]\w*)', expand=True)

In [20]:
df_lead.columns
cols = ['COMP','PLACE', 'LOCATION', 'YEAR', 'COUNTRY', 'COMPETITION_TITLE', 'COMPETITION_DATE', 'FIRST', 'LAST', 'NATION',
       'STARTNR', 'RANK', 'QUALIFICATION', 'QUALIFICATION_1',
       'QUALIFICATION_2', 'SEMIFINAL', 'FINAL', 'POINTS', 'CATEGORY']

In [21]:
df_lead = df_lead[cols]

In [22]:
df_boulder[['COMP','PLACE']] = df_boulder['COMPETITION_TITLE'].str.split('\s+-\s+', expand=True)
df_boulder['LOCATION'] = df_boulder['PLACE'].str.extract('([A-Z]\w{0,})', expand=True)
df_boulder['YEAR'] = df_boulder['PLACE'].str.extract('(\d\d\d\d)', expand=True)
df_boulder['COUNTRY'] = df_boulder['PLACE'].str.extract('(\w*[A-Z]\w*[A-Z]\w*)', expand=True)

In [23]:
df_boulder.columns
cols=['COMP', 'PLACE',
       'LOCATION', 'YEAR', 'COUNTRY','COMPETITION_TITLE', 'COMPETITION_DATE', 'FIRST', 'LAST', 'NATION',
       'STARTNR', 'RANK', 'QUALIFICATION', 'QUALIFICATION_1',
       'QUALIFICATION_2', 'SEMIFINAL', 'FINAL', 'CATEGORY']

In [24]:
df_boulder = df_boulder[cols]

### Cleaning empty spaces from data & null values

In [25]:
df_lead['YEAR'] = df_lead['YEAR'].str.replace(" ","")

In [26]:
df_lead['YEAR'] = df_lead['YEAR'].apply(np.int64)

In [27]:
df_lead['QUALIFICATION'].isna().sum()

9282

In [28]:
df_lead['QUALIFICATION_1'].value_counts()

Top1.,Top1.,Top1.,Top1.,Top1.,Top1.,Top1.,Top1.                                                                    267
Top1.,Top1.,Top1.,Top1.                                                                                            267
20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.                                                             39
20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.,20+39.     39
12+16.,12+16.,12+16.,12+16.,12+16.,12+16.,12+16.,12+16.                                                             30
                                                                                                                  ...
21.5+27.,21.5+27.,21.5+27.,21.5+27.,21.5+27.,21.5+27.,21.5+27.,21.5+27.                                              1
17 90.,17 90.,17 90.,17 90.                                                                                          1
39 29.,39 29.,39 29.,39 29.,39 29.,39 29.,39 29.,39 29.                                                              1
13. [12.85],13. [12.85],13. [12.85],13. [12.85],13. [12.85],13. [12.85],13. [12.85],13. [12.85]                      1
26+41.,26+41.,26+41.,26+41.                                                                                          1
Name: QUALIFICATION_1, Length: 3206, dtype: int64

In [29]:
df_lead['QUALIFICATION'].fillna(0, inplace=True)
df_lead['FINAL'].fillna(0, inplace=True)
df_lead['SEMIFINAL'].fillna(0, inplace=True)
df_lead['QUALIFICATION_1'].fillna(0, inplace=True)
df_lead['QUALIFICATION_2'].fillna(0, inplace=True)
df_lead['POINTS'].fillna(0, inplace=True)

In [31]:
df_boulder.columns

Index(['COMP', 'PLACE', 'LOCATION', 'YEAR', 'COUNTRY', 'COMPETITION_TITLE',
       'COMPETITION_DATE', 'FIRST', 'LAST', 'NATION', 'STARTNR', 'RANK',
       'QUALIFICATION', 'QUALIFICATION_1', 'QUALIFICATION_2', 'SEMIFINAL',
       'FINAL', 'CATEGORY'],
      dtype='object')

In [32]:
df_boulder['FINAL'].fillna(0, inplace=True)
df_boulder['SEMIFINAL'].fillna(0, inplace=True)
df_boulder['QUALIFICATION'].fillna(0, inplace=True)
df_boulder['QUALIFICATION_1'].fillna(0, inplace=True)
df_boulder['QUALIFICATION_2'].fillna(0, inplace=True)

In [33]:
df_boulder['YEAR'] = df_boulder['YEAR'].str.replace(" ","")

In [34]:
df_boulder['YEAR'] = df_boulder['YEAR'].apply(np.int64)

In [35]:
df_boulder['YEAR'].dtypes

dtype('int64')

### Preparing data for concat with athletes data

In [36]:
df_boulder["NAME"] = df_boulder["FIRST"] + df_boulder["LAST"]

In [37]:
for key, value in df_boulder["NAME"].iteritems():
    value = value.strip()

In [38]:
df_boulder["NAME"].value_counts()

FlavyCOHAUT                            26
NicolaiUZNIK                           25
AlbertoGINÉS LÓPEZ                     25
MatteaPÖTZI                            24
MiriamFOGU                             23
                                       ..
Muhammad TaqiuddinBIN MOHD ZULKIFLI     1
JurijsKRASANOVS                         1
MyrtoPETALIDOU                          1
JeongranKO                              1
AlejandroCRESPO COBOS                   1
Name: NAME, Length: 1840, dtype: int64

In [39]:
df_boulder.duplicated().mean()*100

33.58998049481573

In [40]:
df_boulder= df_boulder.drop_duplicates()

In [41]:
df_boulder.reset_index(drop=True)

,COMP,PLACE,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST,LAST,NATION,STARTNR,RANK,QUALIFICATION,QUALIFICATION_1,QUALIFICATION_2,SEMIFINAL,FINAL,CATEGORY,NAME
0,European Youth Championships (B),Brixen (ITA) 2019,Brixen,2019,ITA,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Naile,MEIGNAN,FRA,15.0,1,6T7z99,0,0,3T4z55,3T4z89,boulder,NaileMEIGNAN
1,European Youth Championships (B),Brixen (ITA) 2019,Brixen,2019,ITA,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Miriam,FOGU,ITA,27.0,2,4T8z814,0,0,3T4z55,2T4z27,boulder,MiriamFOGU
2,European Youth Championships (B),Brixen (ITA) 2019,Brixen,2019,ITA,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Vanda,MICHALKOVA,SVK,48.0,3,6T7z89,0,0,3T3z43,2T3z23,boulder,VandaMICHALKOVA
3,European Youth Championships (B),Brixen (ITA) 2019,Brixen,2019,ITA,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Lola,SAUTIER,FRA,17.0,4,4T6z69,0,0,2T3z89,1T3z38,boulder,LolaSAUTIER
4,European Youth Championships (B),Brixen (ITA) 2019,Brixen,2019,ITA,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Polina,KULAGINA,RUS,39.0,5,4T6z611,0,0,3T4z76,1T3z47,boulder,PolinaKULAGINA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6464,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Zoren,LEGASPI,PHI,114.0,39,2T3z710,0,0,0,0,ldering,ZorenLEGASPI
6465,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Paul Eli,SUSON,PHI,139.0,39,2T3z710,0,0,0,0,ldering,Paul EliSUSON
6466,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Paak-lok,CHAN,HKG,118.0,41,2T3z810,0,0,0,0,ldering,Paak-lokCHAN
6467,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Ming-ho,LI,HKG,122.0,42,2T3z1111,0,0,0,0,ldering,Ming-hoLI
6468,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Cheuk-nam,WONG,HKG,137.0,43,2T3z1516,0,0,0,0,ldering,Cheuk-namWONG

In [42]:
boulder_results = df_boulder[df_boulder.COMPETITION_TITLE.str.contains('cup|Worldcup|World', case=False)]
#separating Wolrd cups & championships only.

In [43]:
boulder_results.reset_index(drop=True)

,COMP,PLACE,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST,LAST,NATION,STARTNR,RANK,QUALIFICATION,QUALIFICATION_1,QUALIFICATION_2,SEMIFINAL,FINAL,CATEGORY,NAME
0,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Luce,DOUADY,FRA,381.0,1,0,0,2T4z24,2T4z713,3T4z35,boulder,LuceDOUADY
1,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Natsumi,HIRANO,JPN,388.0,2,0,0,3T4z1213,3T3z118,3T4z36,boulder,NatsumiHIRANO
2,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Saki,KIKUCHI,JPN,395.0,3,0,0,4T4z1311,4T4z126,3T3z65,boulder,SakiKIKUCHI
3,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Naile,MEIGNAN,FRA,508.0,4,0,3T3z84,0,2T4z48,2T3z28,boulder,NaileMEIGNAN
4,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Hana,KUDO,JPN,398.0,5,0,1T4z513,0,2T4z57,1T3z24,boulder,HanaKUDO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5497,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Zoren,LEGASPI,PHI,114.0,39,2T3z710,0,0,0,0,ldering,ZorenLEGASPI
5498,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Paul Eli,SUSON,PHI,139.0,39,2T3z710,0,0,0,0,ldering,Paul EliSUSON
5499,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Paak-lok,CHAN,HKG,118.0,41,2T3z810,0,0,0,0,ldering,Paak-lokCHAN
5500,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Ming-ho,LI,HKG,122.0,42,2T3z1111,0,0,0,0,ldering,Ming-hoLI
5501,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Cheuk-nam,WONG,HKG,137.0,43,2T3z1516,0,0,0,0,ldering,Cheuk-namWONG

In [44]:
boulder_results.isna().sum()

COMP                   0
PLACE                  0
LOCATION               0
YEAR                   0
COUNTRY                0
COMPETITION_TITLE      0
COMPETITION_DATE       0
FIRST                  0
LAST                   0
NATION                 0
STARTNR              208
RANK                   0
QUALIFICATION          0
QUALIFICATION_1        0
QUALIFICATION_2        0
SEMIFINAL              0
FINAL                  0
CATEGORY               0
NAME                   0
dtype: int64

In [45]:
boulder_results['STARTNR']=boulder_results['STARTNR'].fillna(0)

<ipython-input-45-505170077571>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  boulder_results['STARTNR']=boulder_results['STARTNR'].fillna(0)

In [46]:
boulder_results['STARTNR'].isna().mean()*100

0.0

In [47]:
#separate youth results
youth_boulder= boulder_results[boulder_results.COMPETITION_TITLE.str.contains('Youth', case=False)]

In [48]:
youth_boulder.reset_index(drop=True)

,COMP,PLACE,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST,LAST,NATION,STARTNR,RANK,QUALIFICATION,QUALIFICATION_1,QUALIFICATION_2,SEMIFINAL,FINAL,CATEGORY,NAME
0,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Luce,DOUADY,FRA,381.0,1,0,0,2T4z24,2T4z713,3T4z35,boulder,LuceDOUADY
1,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Natsumi,HIRANO,JPN,388.0,2,0,0,3T4z1213,3T3z118,3T4z36,boulder,NatsumiHIRANO
2,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Saki,KIKUCHI,JPN,395.0,3,0,0,4T4z1311,4T4z126,3T3z65,boulder,SakiKIKUCHI
3,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Naile,MEIGNAN,FRA,508.0,4,0,3T3z84,0,2T4z48,2T3z28,boulder,NaileMEIGNAN
4,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Hana,KUDO,JPN,398.0,5,0,1T4z513,0,2T4z57,1T3z24,boulder,HanaKUDO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,European Youth Cup (B),Graz (AUT) 2018,Graz,2018,AUT,European Youth Cup (B) - Graz (AUT) 2018,28 - 29 April 2018,Tomáš,LUKÁŠEK,CZE,307.0,33,1T2z36,0,0,0,0,boulder,TomášLUKÁŠEK
2534,European Youth Cup (B),Graz (AUT) 2018,Graz,2018,AUT,European Youth Cup (B) - Graz (AUT) 2018,28 - 29 April 2018,Felix Ståhl,WADSTEN,SWE,297.0,34,1T2z47,0,0,0,0,boulder,Felix StåhlWADSTEN
2535,European Youth Cup (B),Graz (AUT) 2018,Graz,2018,AUT,European Youth Cup (B) - Graz (AUT) 2018,28 - 29 April 2018,Hauk Steinsson,LEM,NOR,309.0,35,1T2z57,0,0,0,0,boulder,Hauk SteinssonLEM
2536,European Youth Cup (B),Graz (AUT) 2018,Graz,2018,AUT,European Youth Cup (B) - Graz (AUT) 2018,28 - 29 April 2018,Christian Phillip,ELIASSEN,NOR,303.0,36,0T2z05,0,0,0,0,boulder,Christian PhillipELIASSEN
2537,European Youth Cup (B),Graz (AUT) 2018,Graz,2018,AUT,European Youth Cup (B) - Graz (AUT) 2018,28 - 29 April 2018,Jan,MACHARACEK,CZE,292.0,37,0T1z02,0,0,0,0,boulder,JanMACHARACEK

In [49]:
youth_boulder.duplicated().mean()*100

0.0

In [50]:
youth_boulder.isna().mean()*100

COMP                 0.0
PLACE                0.0
LOCATION             0.0
YEAR                 0.0
COUNTRY              0.0
COMPETITION_TITLE    0.0
COMPETITION_DATE     0.0
FIRST                0.0
LAST                 0.0
NATION               0.0
STARTNR              0.0
RANK                 0.0
QUALIFICATION        0.0
QUALIFICATION_1      0.0
QUALIFICATION_2      0.0
SEMIFINAL            0.0
FINAL                0.0
CATEGORY             0.0
NAME                 0.0
dtype: float64

In [51]:
#separate adult results
adult_boulder_results = boulder_results[~boulder_results.COMPETITION_TITLE.str.contains('Youth', case=False)]

In [52]:
adult_boulder_results.reset_index(drop=True)

,COMP,PLACE,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST,LAST,NATION,STARTNR,RANK,QUALIFICATION,QUALIFICATION_1,QUALIFICATION_2,SEMIFINAL,FINAL,CATEGORY,NAME
0,IFSC Climbing World Championships,Hachioji (JPN) 2019,Hachioji,2019,JPN,IFSC Climbing World Championships - Hachioji (...,11 - 21 August 2019,Janja,GARNBRET,SLO,1.0,1,0,5T5z55,0,3T4z76,3T3z88,ldering,JanjaGARNBRET
1,IFSC Climbing World Championships,Hachioji (JPN) 2019,Hachioji,2019,JPN,IFSC Climbing World Championships - Hachioji (...,11 - 21 August 2019,Akiyo,NOGUCHI,JPN,1.0,2,0,0,5T5z99,2T4z38,2T2z42,ldering,AkiyoNOGUCHI
2,IFSC Climbing World Championships,Hachioji (JPN) 2019,Hachioji,2019,JPN,IFSC Climbing World Championships - Hachioji (...,11 - 21 August 2019,Shauna,COXSEY,GBR,7.0,3,0,3T5z69,0,0T3z06,2T2z66,ldering,ShaunaCOXSEY
3,IFSC Climbing World Championships,Hachioji (JPN) 2019,Hachioji,2019,JPN,IFSC Climbing World Championships - Hachioji (...,11 - 21 August 2019,Ievgeniia,KAZBEKOVA,UKR,5.0,4,0,4T5z1414,0,1T2z23,1T2z34,ldering,IevgeniiaKAZBEKOVA
4,IFSC Climbing World Championships,Hachioji (JPN) 2019,Hachioji,2019,JPN,IFSC Climbing World Championships - Hachioji (...,11 - 21 August 2019,Miho,NONAKA,JPN,3.0,5,0,0,3T4z48,0T3z05,1T2z56,ldering,MihoNONAKA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2959,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Zoren,LEGASPI,PHI,114.0,39,2T3z710,0,0,0,0,ldering,ZorenLEGASPI
2960,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Paul Eli,SUSON,PHI,139.0,39,2T3z710,0,0,0,0,ldering,Paul EliSUSON
2961,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Paak-lok,CHAN,HKG,118.0,41,2T3z810,0,0,0,0,ldering,Paak-lokCHAN
2962,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Ming-ho,LI,HKG,122.0,42,2T3z1111,0,0,0,0,ldering,Ming-hoLI
2963,Asia Cup (B),Hong Kong (HKG) 2018,Hong,2018,HKG,Asia Cup (B) - Hong Kong (HKG) 2018,10 - 11 March 2018,Cheuk-nam,WONG,HKG,137.0,43,2T3z1516,0,0,0,0,ldering,Cheuk-namWONG

In [53]:
adult_boulder_results.duplicated().mean()*100

0.0

In [54]:
adult_boulder_results.isna().mean()*100

COMP                 0.0
PLACE                0.0
LOCATION             0.0
YEAR                 0.0
COUNTRY              0.0
COMPETITION_TITLE    0.0
COMPETITION_DATE     0.0
FIRST                0.0
LAST                 0.0
NATION               0.0
STARTNR              0.0
RANK                 0.0
QUALIFICATION        0.0
QUALIFICATION_1      0.0
QUALIFICATION_2      0.0
SEMIFINAL            0.0
FINAL                0.0
CATEGORY             0.0
NAME                 0.0
dtype: float64

In [55]:
df_lead["NAME"] = df_lead["FIRST"] + df_lead["LAST"]

In [56]:
for key, value in df_lead['NAME'].iteritems():
    value = value.strip()

In [57]:
df_lead['NAME'].value_counts()

MykhayilTKACHUK                 37
LauraROGORA                     33
AlbertoGINÉS LÓPEZ              33
Mikel AsierLINACISORO MOLINA    32
JakubKONECNY                    32
                                ..
TaiTEWKESBURY                    2
KharismaRAGIL RAKASIWI           2
NikolaKRAMARIC                   1
VeronikaSCHEUEROVA               1
SergeiLUZHETSKII                 1
Name: NAME, Length: 1467, dtype: int64

In [58]:
df_lead= df_lead.drop_duplicates()

In [59]:
df_lead.reset_index(drop=True)

,COMP,PLACE,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST,LAST,NATION,STARTNR,RANK,QUALIFICATION,QUALIFICATION_1,QUALIFICATION_2,SEMIFINAL,FINAL,POINTS,CATEGORY,NAME
0,"European Championship (L,S)",Edinburgh (GBR) 2019,Edinburgh,2019,GBR,"European Championship (L,S) - Edinburgh (GBR) ...",4 - 6 October 2019,Lucka,RAKOVEC,SLO,222.0,1,0,"50+1.,50+1.,50+1.,50+1.","44 2.,44 2.,44 2.,44 2.",39,46+,1.73,lead,LuckaRAKOVEC
1,"European Championship (L,S)",Edinburgh (GBR) 2019,Edinburgh,2019,GBR,"European Championship (L,S) - Edinburgh (GBR) ...",4 - 6 October 2019,Laura,ROGORA,ITA,234.0,2,0,"16+24.,16+24.,16+24.,16+24.","36+7.,36+7.,36+7.,36+7.",39+,45+,15.62,lead,LauraROGORA
2,"European Championship (L,S)",Edinburgh (GBR) 2019,Edinburgh,2019,GBR,"European Championship (L,S) - Edinburgh (GBR) ...",4 - 6 October 2019,Luce,DOUADY,FRA,229.0,3,0,"48+3.,48+3.,48+3.,48+3.","30+15.,30+15.,30+15.,30+15.",38+,43,7.83,lead,LuceDOUADY
3,"European Championship (L,S)",Edinburgh (GBR) 2019,Edinburgh,2019,GBR,"European Championship (L,S) - Edinburgh (GBR) ...",4 - 6 October 2019,Mina,MARKOVIC,SLO,237.0,4,0,"16+24.,16+24.,16+24.,16+24.","36+7.,36+7.,36+7.,36+7.",43+,42+,15.62,lead,MinaMARKOVIC
4,"European Championship (L,S)",Edinburgh (GBR) 2019,Edinburgh,2019,GBR,"European Championship (L,S) - Edinburgh (GBR) ...",4 - 6 October 2019,Jessica,PILZ,AUT,213.0,5,0,"46+5.,46+5.,46+5.,46+5.","42+3.,42+3.,42+3.,42+3.",38+,42,3.87,lead,JessicaPILZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9925,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Guillem,MONSECH GASCA,ESP,161.0,22,0,"30 18.,30 18.,30 18.,30 18.,30 18.,30 18.,30 1...","25 19.,25 19.,25 19.,25 19.,25 19.,25 19.,25 1...",0,0,19.24,lead,GuillemMONSECH GASCA
9926,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Mykhayil,TKACHUK,UKR,169.0,23,0,"28 20.,28 20.,28 20.,28 20.,28 20.,28 20.,28 2...","25 19.,25 19.,25 19.,25 19.,25 19.,25 19.,25 1...",0,0,20.00,lead,MykhayilTKACHUK
9927,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Samuel,OAKES,GBR,162.0,24,0,"27+21.,27+21.,27+21.,27+21.,27+21.,27+21.,27+2...","18 25.,18 25.,18 25.,18 25.,18 25.,18 25.,18 2...",0,0,22.91,lead,SamuelOAKES
9928,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Ondřej,HAŠEK,CZE,163.0,25,0,"12+26.,12+26.,12+26.,12+26.,12+26.,12+26.,12+2...","20+24.,20+24.,20+24.,20+24.,20+24.,20+24.,20+2...",0,0,24.98,lead,OndřejHAŠEK
9929,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Oleksii,KRYNETSKYI,UKR,164.0,26,0,"21+25.,21+25.,21+25.,21+25.,21+25.,21+25.,21+2...","15+26.,15+26.,15+26.,15+26.,15+26.,15+26.,15+2...",0,0,25.50,lead,OleksiiKRYNETSKYI

In [60]:
lead_results = df_lead[df_lead.COMPETITION_TITLE.str.contains('cup|Worldcup|World', case=False)]

In [61]:
lead_results.reset_index(drop=True)

,COMP,PLACE,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST,LAST,NATION,STARTNR,RANK,QUALIFICATION,QUALIFICATION_1,QUALIFICATION_2,SEMIFINAL,FINAL,POINTS,CATEGORY,NAME
0,IFSC Climbing Worldcup (L),Kranj (SLO) 2019,Kranj,2019,SLO,IFSC Climbing Worldcup (L) - Kranj (SLO) 2019,28 - 29 September 2019,Chaehyun,SEO,KOR,33.0,1,Top1.,0,"29+5.,29+5.,29+5.,29+5.",38,34.5+,6.48,lead,ChaehyunSEO
1,IFSC Climbing Worldcup (L),Kranj (SLO) 2019,Kranj,2019,SLO,IFSC Climbing Worldcup (L) - Kranj (SLO) 2019,28 - 29 September 2019,Jessica,PILZ,AUT,4.0,2,Top1.,0,"29+5.,29+5.,29+5.,29+5.",34+,34.5,6.48,lead,JessicaPILZ
2,IFSC Climbing Worldcup (L),Kranj (SLO) 2019,Kranj,2019,SLO,IFSC Climbing Worldcup (L) - Kranj (SLO) 2019,28 - 29 September 2019,Lucka,RAKOVEC,SLO,44.0,3,36+14.,0,"29+5.,29+5.,29+5.,29+5.",38+,34+,9.33,lead,LuckaRAKOVEC
3,IFSC Climbing Worldcup (L),Kranj (SLO) 2019,Kranj,2019,SLO,IFSC Climbing Worldcup (L) - Kranj (SLO) 2019,28 - 29 September 2019,Anak,VERHOEVEN,BEL,8.0,4,Top1.,0,"35+3.,35+3.,35+3.,35+3.",34+,34+,4.58,lead,AnakVERHOEVEN
4,IFSC Climbing Worldcup (L),Kranj (SLO) 2019,Kranj,2019,SLO,IFSC Climbing Worldcup (L) - Kranj (SLO) 2019,28 - 29 September 2019,Ai,MORI,JPN,28.0,5,Top1.,0,"Top1.,Top1.,Top1.,Top1.",38+,20+,2.65,lead,AiMORI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8711,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Guillem,MONSECH GASCA,ESP,161.0,22,0,"30 18.,30 18.,30 18.,30 18.,30 18.,30 18.,30 1...","25 19.,25 19.,25 19.,25 19.,25 19.,25 19.,25 1...",0,0,19.24,lead,GuillemMONSECH GASCA
8712,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Mykhayil,TKACHUK,UKR,169.0,23,0,"28 20.,28 20.,28 20.,28 20.,28 20.,28 20.,28 2...","25 19.,25 19.,25 19.,25 19.,25 19.,25 19.,25 1...",0,0,20.00,lead,MykhayilTKACHUK
8713,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Samuel,OAKES,GBR,162.0,24,0,"27+21.,27+21.,27+21.,27+21.,27+21.,27+21.,27+2...","18 25.,18 25.,18 25.,18 25.,18 25.,18 25.,18 2...",0,0,22.91,lead,SamuelOAKES
8714,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Ondřej,HAŠEK,CZE,163.0,25,0,"12+26.,12+26.,12+26.,12+26.,12+26.,12+26.,12+2...","20+24.,20+24.,20+24.,20+24.,20+24.,20+24.,20+2...",0,0,24.98,lead,OndřejHAŠEK
8715,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Oleksii,KRYNETSKYI,UKR,164.0,26,0,"21+25.,21+25.,21+25.,21+25.,21+25.,21+25.,21+2...","15+26.,15+26.,15+26.,15+26.,15+26.,15+26.,15+2...",0,0,25.50,lead,OleksiiKRYNETSKYI

In [62]:
lead_results.isna().sum()

COMP                   0
PLACE                  0
LOCATION               0
YEAR                   0
COUNTRY                0
COMPETITION_TITLE      0
COMPETITION_DATE       0
FIRST                  0
LAST                   0
NATION                 0
STARTNR              450
RANK                   0
QUALIFICATION          0
QUALIFICATION_1        0
QUALIFICATION_2        0
SEMIFINAL              0
FINAL                  0
POINTS                 0
CATEGORY               0
NAME                   0
dtype: int64

In [63]:
lead_results['STARTNR']=lead_results['STARTNR'].fillna(0)

<ipython-input-63-905c9ddd7c38>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lead_results['STARTNR']=lead_results['STARTNR'].fillna(0)

In [64]:
lead_results.isna().sum()*100

COMP                 0
PLACE                0
LOCATION             0
YEAR                 0
COUNTRY              0
COMPETITION_TITLE    0
COMPETITION_DATE     0
FIRST                0
LAST                 0
NATION               0
STARTNR              0
RANK                 0
QUALIFICATION        0
QUALIFICATION_1      0
QUALIFICATION_2      0
SEMIFINAL            0
FINAL                0
POINTS               0
CATEGORY             0
NAME                 0
dtype: int64

In [65]:
youth_lead= lead_results[lead_results.COMPETITION_TITLE.str.contains('Youth', case=False)]

In [66]:
youth_lead.reset_index(drop=True)

,COMP,PLACE,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST,LAST,NATION,STARTNR,RANK,QUALIFICATION,QUALIFICATION_1,QUALIFICATION_2,SEMIFINAL,FINAL,POINTS,CATEGORY,NAME
0,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Nika,POTAPOVA,UKR,418.0,1,0,"Top1.,Top1.,Top1.,Top1.","41+1.,41+1.,41+1.,41+1.",50+,54+,1.50,lead,NikaPOTAPOVA
1,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Natsumi,HIRANO,JPN,388.0,2,0,"Top1.,Top1.,Top1.,Top1.","41+1.,41+1.,41+1.,41+1.",48+,54+,1.50,lead,NatsumiHIRANO
2,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Luce,DOUADY,FRA,381.0,3,0,"44+9.,44+9.,44+9.,44+9.","23+32.,23+32.,23+32.,23+32.",45,42+,17.71,lead,LuceDOUADY
3,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Emily,PHILLIPS,GBR,416.0,4,0,"36+17.,36+17.,36+17.,36+17.","29+15.,29+15.,29+15.,29+15.",26+,33.6+,17.73,lead,EmilyPHILLIPS
4,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Vanda,MICHALKOVA,SVK,410.0,5,0,"47+5.,47+5.,47+5.,47+5.","36+6.,36+6.,36+6.,36+6.",38+,33.3,6.63,lead,VandaMICHALKOVA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4655,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Guillem,MONSECH GASCA,ESP,161.0,22,0,"30 18.,30 18.,30 18.,30 18.,30 18.,30 18.,30 1...","25 19.,25 19.,25 19.,25 19.,25 19.,25 19.,25 1...",0,0,19.24,lead,GuillemMONSECH GASCA
4656,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Mykhayil,TKACHUK,UKR,169.0,23,0,"28 20.,28 20.,28 20.,28 20.,28 20.,28 20.,28 2...","25 19.,25 19.,25 19.,25 19.,25 19.,25 19.,25 1...",0,0,20.00,lead,MykhayilTKACHUK
4657,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Samuel,OAKES,GBR,162.0,24,0,"27+21.,27+21.,27+21.,27+21.,27+21.,27+21.,27+2...","18 25.,18 25.,18 25.,18 25.,18 25.,18 25.,18 2...",0,0,22.91,lead,SamuelOAKES
4658,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Ondřej,HAŠEK,CZE,163.0,25,0,"12+26.,12+26.,12+26.,12+26.,12+26.,12+26.,12+2...","20+24.,20+24.,20+24.,20+24.,20+24.,20+24.,20+2...",0,0,24.98,lead,OndřejHAŠEK
4659,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Oleksii,KRYNETSKYI,UKR,164.0,26,0,"21+25.,21+25.,21+25.,21+25.,21+25.,21+25.,21+2...","15+26.,15+26.,15+26.,15+26.,15+26.,15+26.,15+2...",0,0,25.50,lead,OleksiiKRYNETSKYI

In [67]:
adult_lead_results = lead_results[~lead_results.COMPETITION_TITLE.str.contains('Youth', case=False)]

In [68]:
adult_lead_results.reset_index(drop=True)

,COMP,PLACE,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST,LAST,NATION,STARTNR,RANK,QUALIFICATION,QUALIFICATION_1,QUALIFICATION_2,SEMIFINAL,FINAL,POINTS,CATEGORY,NAME
0,IFSC Climbing Worldcup (L),Kranj (SLO) 2019,Kranj,2019,SLO,IFSC Climbing Worldcup (L) - Kranj (SLO) 2019,28 - 29 September 2019,Chaehyun,SEO,KOR,33.0,1,Top1.,0,"29+5.,29+5.,29+5.,29+5.",38,34.5+,6.48,lead,ChaehyunSEO
1,IFSC Climbing Worldcup (L),Kranj (SLO) 2019,Kranj,2019,SLO,IFSC Climbing Worldcup (L) - Kranj (SLO) 2019,28 - 29 September 2019,Jessica,PILZ,AUT,4.0,2,Top1.,0,"29+5.,29+5.,29+5.,29+5.",34+,34.5,6.48,lead,JessicaPILZ
2,IFSC Climbing Worldcup (L),Kranj (SLO) 2019,Kranj,2019,SLO,IFSC Climbing Worldcup (L) - Kranj (SLO) 2019,28 - 29 September 2019,Lucka,RAKOVEC,SLO,44.0,3,36+14.,0,"29+5.,29+5.,29+5.,29+5.",38+,34+,9.33,lead,LuckaRAKOVEC
3,IFSC Climbing Worldcup (L),Kranj (SLO) 2019,Kranj,2019,SLO,IFSC Climbing Worldcup (L) - Kranj (SLO) 2019,28 - 29 September 2019,Anak,VERHOEVEN,BEL,8.0,4,Top1.,0,"35+3.,35+3.,35+3.,35+3.",34+,34+,4.58,lead,AnakVERHOEVEN
4,IFSC Climbing Worldcup (L),Kranj (SLO) 2019,Kranj,2019,SLO,IFSC Climbing Worldcup (L) - Kranj (SLO) 2019,28 - 29 September 2019,Ai,MORI,JPN,28.0,5,Top1.,0,"Top1.,Top1.,Top1.,Top1.",38+,20+,2.65,lead,AiMORI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4051,"IFSC Climbing Worldcup (L,S)",Villars (SUI) 2018,Villars,2018,SUI,"IFSC Climbing Worldcup (L,S) - Villars (SUI) 2...",6 - 7 July 2018,Ruben,FIRNENBURG,GER,128.0,87,0,"26 73.,26 73.,26 73.,26 73.,26 73.,26 73.,26 7...","7 87.,7 87.,7 87.,7 87.,7 87.,7 87.,7 87.,7 87.",0,0,81.20,lead,RubenFIRNENBURG
4052,"IFSC Climbing Worldcup (L,S)",Villars (SUI) 2018,Villars,2018,SUI,"IFSC Climbing Worldcup (L,S) - Villars (SUI) 2...",6 - 7 July 2018,Julien,CLÉMENCE,SUI,169.0,88,0,"17+89.,17+89.,17+89.,17+89.,17+89.,17+89.,17+8...","8+74.,8+74.,8+74.,8+74.,8+74.,8+74.,8+74.,8+74.",0,0,82.24,lead,JulienCLÉMENCE
4053,"IFSC Climbing Worldcup (L,S)",Villars (SUI) 2018,Villars,2018,SUI,"IFSC Climbing Worldcup (L,S) - Villars (SUI) 2...",6 - 7 July 2018,Galo,HERNANDEZ,ECU,127.0,89,0,"19+86.,19+86.,19+86.,19+86.,19+86.,19+86.,19+8...","7+81.,7+81.,7+81.,7+81.,7+81.,7+81.,7+81.,7+81.",0,0,84.99,lead,GaloHERNANDEZ
4054,"IFSC Climbing Worldcup (L,S)",Villars (SUI) 2018,Villars,2018,SUI,"IFSC Climbing Worldcup (L,S) - Villars (SUI) 2...",6 - 7 July 2018,Carlos,GRANJA,ECU,110.0,90,0,"19+86.,19+86.,19+86.,19+86.,19+86.,19+86.,19+8...","7 87.,7 87.,7 87.,7 87.,7 87.,7 87.,7 87.,7 87.",0,0,87.49,lead,CarlosGRANJA
4055,"IFSC Climbing Worldcup (L,S)",Villars (SUI) 2018,Villars,2018,SUI,"IFSC Climbing Worldcup (L,S) - Villars (SUI) 2...",6 - 7 July 2018,Stefan,BEDNAR,SVK,87.0,91,0,"6+91.,6+91.,6+91.,6+91.,6+91.,6+91.,6+91.,6+91.","7 87.,7 87.,7 87.,7 87.,7 87.,7 87.,7 87.,7 87.",0,0,89.74,lead,StefanBEDNAR

In [69]:
adult_lead_results.isna().mean()*100

COMP                 0.0
PLACE                0.0
LOCATION             0.0
YEAR                 0.0
COUNTRY              0.0
COMPETITION_TITLE    0.0
COMPETITION_DATE     0.0
FIRST                0.0
LAST                 0.0
NATION               0.0
STARTNR              0.0
RANK                 0.0
QUALIFICATION        0.0
QUALIFICATION_1      0.0
QUALIFICATION_2      0.0
SEMIFINAL            0.0
FINAL                0.0
POINTS               0.0
CATEGORY             0.0
NAME                 0.0
dtype: float64

In [70]:
adult_lead_results.duplicated().mean()*100

0.0

# Bringing in athletes data

In [71]:
df_ages=pd.read_csv('/Users/hpb/PycharmProjects/Ironhack/Final Project/all_ages.csv')

In [72]:
df_ages.head()

   climber_id      LAST        FIRST  Gender Nation Last_active     YOB
0        6367  Klingler        Petra  female    SUI  01/03/2020  1992.0
1        6457    Choong    Katherine  female    SUI  01/03/2020  1992.0
2        9979    Koller  Anne-Sophie  female    SUI  01/03/2020  1996.0
3       10326      Vogt      Dimitri    male    SUI  01/03/2020  1997.0
4       10328     Kümin       Andrea  female    SUI  01/03/2020  1997.0

In [73]:
df_ages = df_ages.drop_duplicates()

In [74]:
df_ages.reset_index(drop=True)

,climber_id,LAST,FIRST,Gender,Nation,Last_active,YOB
0,6367,Klingler,Petra,female,SUI,01/03/2020,1992.0
1,6457,Choong,Katherine,female,SUI,01/03/2020,1992.0
2,9979,Koller,Anne-Sophie,female,SUI,01/03/2020,1996.0
3,10326,Vogt,Dimitri,male,SUI,01/03/2020,1997.0
4,10328,Kümin,Andrea,female,SUI,01/03/2020,1997.0
...,...,...,...,...,...,...,...
12868,81868,LOW SU YING,Stefanie Ann,female,SGP,NaN,2001.0
12869,81869,SALLSABILLAH,Rajiah,female,INA,NaN,1999.0
12870,81870,PETROVA,Kseniia,female,RUS,NaN,1999.0
12871,81871,MUHAMMAD,Hinayah,male,INA,NaN,1995.0
12872,81872,RAHEMI,Melika,female,IRI,NaN,2002.0

In [75]:
df_ages['LAST'] = df_ages['LAST'].str.upper()

In [76]:
df_ages['LAST'].str.replace(" ","")
#lots of hidden white spaces in this dataset. Remove any columns you need/going to use.

0            KLINGLER
1              CHOONG
2              KOLLER
3                VOGT
4               KÜMIN
             ...
12868       LOWSUYING
12869    SALLSABILLAH
12870         PETROVA
12871        MUHAMMAD
12872          RAHEMI
Name: LAST, Length: 12873, dtype: object

In [77]:
df_ages['YOB'].isna().sum()
#lots of nulls but can be sorted later with the youth dataset.

4312

In [78]:
df_ages.dtypes

climber_id       int64
LAST            object
FIRST           object
Gender          object
Nation          object
Last_active     object
YOB            float64
dtype: object

In [79]:
df_ages['LAST'].isna().sum()

3

In [80]:
df_ages = df_ages[df_ages['LAST'].notna()]

In [81]:
df_ages.reset_index(drop=True)

,climber_id,LAST,FIRST,Gender,Nation,Last_active,YOB
0,6367,KLINGLER,Petra,female,SUI,01/03/2020,1992.0
1,6457,CHOONG,Katherine,female,SUI,01/03/2020,1992.0
2,9979,KOLLER,Anne-Sophie,female,SUI,01/03/2020,1996.0
3,10326,VOGT,Dimitri,male,SUI,01/03/2020,1997.0
4,10328,KÜMIN,Andrea,female,SUI,01/03/2020,1997.0
...,...,...,...,...,...,...,...
12865,81868,LOW SU YING,Stefanie Ann,female,SGP,NaN,2001.0
12866,81869,SALLSABILLAH,Rajiah,female,INA,NaN,1999.0
12867,81870,PETROVA,Kseniia,female,RUS,NaN,1999.0
12868,81871,MUHAMMAD,Hinayah,male,INA,NaN,1995.0
12869,81872,RAHEMI,Melika,female,IRI,NaN,2002.0

In [82]:
#A lot of empty spaces that are causing join issues.
for key, value in df_ages['LAST'].iteritems():
    value = value.strip()

In [83]:
df_ages =df_ages.rename(columns={column:column.upper().replace(" ", "_") for column in df_ages.columns})

In [84]:
df_ages["NAME"] = df_ages["FIRST"].astype(str) + df_ages["LAST"]

In [89]:
df_ages

,CLIMBER_ID,LAST,FIRST,GENDER,NATION,LAST_ACTIVE,YOB,NAME
0,6367,KLINGLER,Petra,female,SUI,01/03/2020,1992.0,PetraKLINGLER
1,6457,CHOONG,Katherine,female,SUI,01/03/2020,1992.0,KatherineCHOONG
2,9979,KOLLER,Anne-Sophie,female,SUI,01/03/2020,1996.0,Anne-SophieKOLLER
3,10326,VOGT,Dimitri,male,SUI,01/03/2020,1997.0,DimitriVOGT
4,10328,KÜMIN,Andrea,female,SUI,01/03/2020,1997.0,AndreaKÜMIN
...,...,...,...,...,...,...,...,...
12868,81868,LOW SU YING,Stefanie Ann,female,SGP,NaN,2001.0,Stefanie Ann LOW SU YING
12869,81869,SALLSABILLAH,Rajiah,female,INA,NaN,1999.0,Rajiah SALLSABILLAH
12870,81870,PETROVA,Kseniia,female,RUS,NaN,1999.0,Kseniia PETROVA
12871,81871,MUHAMMAD,Hinayah,male,INA,NaN,1995.0,HinayahMUHAMMAD
12872,81872,RAHEMI,Melika,female,IRI,NaN,2002.0,Melika RAHEMI

In [90]:
for key, value in df_ages['NAME'].iteritems():
    value = value.strip()

In [97]:
for key, value in df_ages['YOB'].iteritems():
    print(value, type)

1992.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
1984.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2005.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2001.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2005.0 <class 'type'>
2002.0 <class 'type'>
2000.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2000.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1990.0 <class 'type'>
1985.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
2001.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
1982.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
2002.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1981.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1994.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
2003.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2003.0 <class 'type'>
1984.0 <class 'type'>
1996.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2003.0 <class 'type'>
2005.0 <class 'type'>
2000.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1990.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2002.0 <class 'type'>
2000.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2005.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2002.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2001.0 <class 'type'>
2004.0 <class 'type'>
2001.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2000.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2000.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2000.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2001.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2005.0 <class 'type'>
2000.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2005.0 <class 'type'>
2001.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2000.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2005.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1988.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
1983.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
2002.0 <class 'type'>
1998.0 <class 'type'>
2002.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2002.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1997.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2005.0 <class 'type'>
1993.0 <class 'type'>
1998.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
1994.0 <class 'type'>
1999.0 <class 'type'>
2004.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1994.0 <class 'type'>
1999.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1991.0 <class 'type'>
2000.0 <class 'type'>
1995.0 <class 'type'>
1990.0 <class 'type'>
1998.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1994.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1985.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1996.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1982.0 <class 'type'>
1999.0 <class 'type'>
2002.0 <class 'type'>
1993.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
1999.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>

2003.0 <class 'type'>
2003.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2004.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2000.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2000.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2004.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1989.0 <class 'type'>
1976.0 <class 'type'>
1973.0 <class 'type'>
1980.0 <class 'type'>
1983.0 <class 'type'>
1980.0 <class 'type'>
1971.0 <class 'type'>
1961.0 <class 'type'>
1964.0 <class 'type'>
1999.0 <class 'type'>
1990.0 <class 'type'>
1975.0 <class 'type'>
1991.0 <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
1969.0 <class 'type'>
1969.0 <class 'type'>
1999.0 <class 'type'>
1989.0 <class 'type'>
1956.0 <class 'type'>
1986.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1994.0 <class 'type'>
1976.0 <class 'type'>
1987.0 <class 'type'>
1994.0 <class 'type'>
1965.0 <class 'type'>
1997.0 <class 'type'>
1992.0 <class 'type'>
1975.0 <class 'type'>
1987.0 <class 'type'>
1997.0 <class 'type'>
1977.0 <class 'type'>
1963.0 <class 'type'>
1966.0 <class 'type'>
2002.0 <class 'type'>
1979.0 <class 'type'>
1980.0 <class 'type'>
1995.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
2000.0 <class 'type'>
1988.0 <class 'type'>
1958.0 <class 'type'>
1993.0 <class 'type'>
2003.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1985.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1981.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1984.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1991.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1994.0 <class 'type'>
1985.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1973.0 <class 'type'>
1981.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1966.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1979.0 <class 'type'>
1990.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1989.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1981.0 <class 'type'>
1987.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1977.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1981.0 <class 'type'>
1994.0 <class 'type'>
1971.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1983.0 <class 'type'>
1962.0 <class 'type'>
1988.0 <class 'type'>
1999.0 <class 'type'>
1986.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1986.0 <class 'type'>
1995.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1998.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1984.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1991.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1991.0 <class 'type'>
1999.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1977.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1978.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1988.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1989.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1984.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1990.0 <class 'type'>
1997.0 <class 'type'>
1990.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1987.0 <class 'type'>
1995.0 <class 'type'>
1999.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1989.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
1993.0 <class 'type'>
1986.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1988.0 <class 'type'>
1983.0 <class 'type'>
1982.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1988.0 <class 'type'>
1993.0 <class 'type'>
1971.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1959.0 <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1983.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1989.0 <class 'type'>
1981.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1996.0 <class 'type'>
1989.0 <class 'type'>
1998.0 <class 'type'>
1966.0 <class 'type'>
1980.0 <class 'type'>
1989.0 <class 'type'>
1971.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1987.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1983.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1985.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1977.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1999.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
2001.0 <class 'type'>
1998.0 <class 'type'>
1982.0 <class 'type'>
1986.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1983.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1998.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1997.0 <class 'type'>
1970.0 <class 'type'>
1971.0 <class 'type'>
1974.0 <class 'type'>
1976.0 <class 'type'>
1977.0 <class 'type'>
1978.0 <class 'type'>
1980.0 <class 'type'>
1981.0 <class 'type'>
1981.0 <class 'type'>
1983.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1971.0 <class 'type'>
1971.0 <class 'type'>
1973.0 <class 'type'>
1973.0 <class 'type'>
1974.0 <class 'type'>
1976.0 <class 'type'>
1974.0 <class 'type'>
1973.0 <class 'type'>
1974.0 <class 'type'>
1973.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1973.0 <class 'type'>
1990.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1985.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1981.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1982.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1996.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1986.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1994.0 <class 'type'>
1983.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1999.0 <class 'type'>
1986.0 <class 'type'>
1981.0 <class 'type'>
1974.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1984.0 <class 'type'>
1976.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1999.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1985.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1977.0 <class 'type'>
1989.0 <class 'type'>
1996.0 <class 'type'>
1989.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>

1994.0 <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
2001.0 <class 'type'>
1981.0 <class 'type'>
1983.0 <class 'type'>
1974.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1984.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1986.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1985.0 <class 'type'>
1981.0 <class 'type'>
1992.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1985.0 <class 'type'>
1968.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1987.0 <class 'type'>
1996.0 <class 'type'>
1981.0 <class 'type'>
1977.0 <class 'type'>
1990.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1986.0 <class 'type'>
1978.0 <class 'type'>
1996.0 <class 'type'>
2000.0 <class 'type'>
1994.0 <class 'type'>
1988.0 <class 'type'>
1993.0 <class 'type'>
1977.0 <class 'type'>
1981.0 <class 'type'>
1971.0 <class 'type'>
1996.0 <class 'type'>
1977.0 <class 'type'>
1981.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1965.0 <class 'type'>
1988.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1971.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1982.0 <class 'type'>
1989.0 <class 'type'>
1996.0 <class 'type'>
1983.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1994.0 <class 'type'>
1983.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1980.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1990.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1985.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1976.0 <class 'type'>
1981.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1981.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1985.0 <class 'type'>
1989.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1983.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1963.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1989.0 <class 'type'>
1981.0 <class 'type'>
1991.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1990.0 <class 'type'>
1996.0 <class 'type'>
1984.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1987.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1984.0 <class 'type'>
1999.0 <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1987.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1998.0 <class 'type'>
1989.0 <class 'type'>
1983.0 <class 'type'>
1987.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1989.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1993.0 <class 'type'>
1976.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
1983.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1998.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1969.0 <class 'type'>
1972.0 <class 'type'>
1981.0 <class 'type'>
1978.0 <class 'type'>
1988.0 <class 'type'>
1983.0 <class 'type'>
1982.0 <class 'type'>
1968.0 <class 'type'>
1979.0 <class 'type'>
1998.0 <class 'type'>
1969.0 <class 'type'>
1977.0 <class 'type'>
1979.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1959.0 <class 'type'>
1973.0 <class 'type'>
1954.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1993.0 <class 'type'>
1964.0 <class 'type'>
1975.0 <class 'type'>
1964.0 <class 'type'>
1970.0 <class 'type'>
1967.0 <class 'type'>
1985.0 <class 'type'>
1971.0 <class 'type'>
1967.0 <class 'type'>
1966.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1979.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1974.0 <class 'type'>
1990.0 <class 'type'>
1984.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1995.0 <class 'type'>
1989.0 <class 'type'>
1982.0 <class 'type'>
1998.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1984.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1988.0 <class 'type'>
1978.0 <class 'type'>
1959.0 <class 'type'>
1989.0 <class 'type'>
1954.0 <class 'type'>
1970.0 <class 'type'>
1984.0 <class 'type'>
1975.0 <class 'type'>
1972.0 <class 'type'>
1993.0 <class 'type'>
1973.0 <class 'type'>
1971.0 <class 'type'>
1964.0 <class 'type'>
1974.0 <class 'type'>
1998.0 <class 'type'>
1964.0 <class 'type'>
1972.0 <class 'type'>
1997.0 <class 'type'>
1980.0 <class 'type'>
1972.0 <class 'type'>
1976.0 <class 'type'>
1982.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1974.0 <class 'type'>
1976.0 <class 'type'>
1986.0 <class 'type'>
1980.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1964.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1976.0 <class 'type'>
1976.0 <class 'type'>
1975.0 <class 'type'>
1976.0 <class 'type'>
1996.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1981.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1984.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1986.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1965.0 <class 'type'>
1980.0 <class 'type'>
1978.0 <class 'type'>
1962.0 <class 'type'>
1974.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>

1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1996.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
2001.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1996.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
2001.0 <class 'type'>
1975.0 <class 'type'>
1991.0 <class 'type'>
1996.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
1997.0 <class 'type'>
1971.0 <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1983.0 <class 'type'>
1988.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1961.0 <class 'type'>
1975.0 <class 'type'>
1976.0 <class 'type'>
1987.0 <class 'type'>
1983.0 <class 'type'>
1959.0 <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1993.0 <class 'type'>
1969.0 <class 'type'>
1989.0 <class 'type'>
1969.0 <class 'type'>
1983.0 <class 'type'>
1989.0 <class 'type'>
1975.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
2006.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1980.0 <class 'type'>
1989.0 <class 'type'>
1995.0 <class 'type'>
1987.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1975.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1985.0 <class 'type'>
1971.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1974.0 <class 'type'>
1987.0 <class 'type'>
1969.0 <class 'type'>
1980.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1969.0 <class 'type'>
1964.0 <class 'type'>
1986.0 <class 'type'>
1975.0 <class 'type'>
1973.0 <class 'type'>
1973.0 <class 'type'>
1986.0 <class 'type'>
1961.0 <class 'type'>
1957.0 <class 'type'>
1962.0 <class 'type'>
1961.0 <class 'type'>
1963.0 <class 'type'>
1960.0 <class 'type'>
1984.0 <class 'type'>
1974.0 <class 'type'>
1984.0 <class 'type'>
1979.0 <class 'type'>
1972.0 <class 'type'>
1971.0 <class 'type'>
1980.0 <class 'type'>
1982.0 <class 'type'>
1976.0 <class 'type'>
1975.0 <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
1961.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1980.0 <class 'type'>
1979.0 <class 'type'>
1970.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
2001.0 <class 'type'>
1997.0 <class 'type'>
1962.0 <class 'type'>
1978.0 <class 'type'>
1963.0 <class 'type'>
1966.0 <class 'type'>
1985.0 <class 'type'>
1972.0 <class 'type'>
1983.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1972.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1977.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1987.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1997.0 <class 'type'>
1977.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1983.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1965.0 <class 'type'>
1990.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1983.0 <class 'type'>
1976.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1987.0 <class 'type'>
1945.0 <class 'type'>
1953.0 <class 'type'>
1973.0 <class 'type'>
1959.0 <class 'type'>
1972.0 <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1968.0 <class 'type'>
1960.0 <class 'type'>
1986.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1972.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1968.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1987.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1984.0 <class 'type'>
1967.0 <class 'type'>
1977.0 <class 'type'>
1981.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1989.0 <class 'type'>
1996.0 <class 'type'>
1989.0 <class 'type'>
1996.0 <class 'type'>
1984.0 <class 'type'>
1995.0 <class 'type'>
1962.0 <class 'type'>
1980.0 <class 'type'>
1968.0 <class 'type'>
1987.0 <class 'type'>
1963.0 <class 'type'>
1980.0 <class 'type'>
1970.0 <class 'type'>
1988.0 <class 'type'>
1976.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
2001.0 <class 'type'>
1997.0 <class 'type'>
1955.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1978.0 <class 'type'>
1965.0 <class 'type'>
1975.0 <class 'type'>
1975.0 <class 'type'>
1961.0 <class 'type'>
1969.0 <class 'type'>
1975.0 <class 'type'>
1978.0 <class 'type'>
1977.0 <class 'type'>
1941.0 <class 'type'>
1970.0 <class 'type'>
1995.0 <class 'type'>
1971.0 <class 'type'>
1976.0 <class 'type'>
1995.0 <class 'type'>
1982.0 <class 'type'>
1998.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1987.0 <class 'type'>
1995.0 <class 'type'>
1967.0 <class 'type'>
1984.0 <class 'type'>
1959.0 <class 'type'>
1977.0 <class 'type'>
1966.0 <class 'type'>
1970.0 <class 'type'>
1959.0 <class 'type'>
1959.0 <class 'type'>
1960.0 <class 'type'>
1961.0 <class 'type'>
1958.0 <class 'type'>
1985.0 <class 'type'>
1998.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1981.0 <class 'type'>
1972.0 <class 'type'>
1974.0 <class 'type'>
1989.0 <class 'type'>
1974.0 <class 'type'>
1972.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1975.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
1998.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1978.0 <class 'type'>
1978.0 <class 'type'>
1989.0 <class 'type'>
1966.0 <class 'type'>
1980.0 <class 'type'>
1978.0 <class 'type'>
1977.0 <class 'type'>
1981.0 <class 'type'>
1984.0 <class 'type'>
1977.0 <class 'type'>
1986.0 <class 'type'>
1970.0 <class 'type'>
1980.0 <class 'type'>
1983.0 <class 'type'>
1970.0 <class 'type'>
1951.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1979.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1992.0 <class 'type'>
1985.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1970.0 <class 'type'>
1969.0 <class 'type'>
1970.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1960.0 <class 'type'>
1966.0 <class 'type'>
1979.0 <class 'type'>
1978.0 <class 'type'>
1975.0 <class 'type'>
1985.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
1995.0 <class 'type'>
1984.0 <class 'type'>
2001.0 <class 'type'>
1995.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
1989.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1963.0 <class 'type'>
1963.0 <class 'type'>
1946.0 <class 'type'>

1965.0 <class 'type'>
1966.0 <class 'type'>
1964.0 <class 'type'>
1967.0 <class 'type'>
1990.0 <class 'type'>
1977.0 <class 'type'>
1967.0 <class 'type'>
1982.0 <class 'type'>
1959.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1980.0 <class 'type'>
1967.0 <class 'type'>
1976.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1972.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1993.0 <class 'type'>
1998.0 <class 'type'>
1986.0 <class 'type'>
1994.0 <class 'type'>
1986.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1975.0 <class 'type'>
1979.0 <class 'type'>
1982.0 <class 'type'>
1988.0 <class 'type'>
1972.0 <class 'type'>
1972.0 <class 'type'>
1971.0 <class 'type'>
1965.0 <class 'type'>
1979.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1971.0 <class 'type'>
1971.0 <class 'type'>
1968.0 <class 'type'>
1985.0 <class 'type'>
1977.0 <class 'type'>
1991.0 <class 'type'>
1964.0 <class 'type'>
1986.0 <class 'type'>
1961.0 <class 'type'>
1972.0 <class 'type'>
1982.0 <class 'type'>
1986.0 <class 'type'>
1970.0 <class 'type'>
1978.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1961.0 <class 'type'>
1959.0 <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1982.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1991.0 <class 'type'>
1998.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1978.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1993.0 <class 'type'>
1983.0 <class 'type'>
1991.0 <class 'type'>
1983.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1981.0 <class 'type'>
1991.0 <class 'type'>
1985.0 <class 'type'>
1958.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1967.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1997.0 <class 'type'>
1989.0 <class 'type'>
1953.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1970.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1975.0 <class 'type'>
1983.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1978.0 <class 'type'>
1968.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1969.0 <class 'type'>
1983.0 <class 'type'>
1953.0 <class 'type'>
1996.0 <class 'type'>
1976.0 <class 'type'>
1967.0 <class 'type'>
1990.0 <class 'type'>
1955.0 <class 'type'>
1965.0 <class 'type'>
1967.0 <class 'type'>
1978.0 <class 'type'>
1960.0 <class 'type'>
1952.0 <class 'type'>
1973.0 <class 'type'>
1989.0 <class 'type'>
1969.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1994.0 <class 'type'>
1984.0 <class 'type'>
1982.0 <class 'type'>
1971.0 <class 'type'>
1994.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1983.0 <class 'type'>
1991.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1997.0 <class 'type'>
1969.0 <class 'type'>
1970.0 <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
1964.0 <class 'type'>
1967.0 <class 'type'>
1970.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1987.0 <class 'type'>
1996.0 <class 'type'>
1990.0 <class 'type'>
1981.0 <class 'type'>
1977.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1971.0 <class 'type'>
1992.0 <class 'type'>
1972.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1957.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1974.0 <class 'type'>
1972.0 <class 'type'>
1977.0 <class 'type'>
1983.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1981.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1980.0 <class 'type'>
1985.0 <class 'type'>
1993.0 <class 'type'>
1982.0 <class 'type'>
1991.0 <class 'type'>
1973.0 <class 'type'>
1991.0 <class 'type'>
1981.0 <class 'type'>
1992.0 <class 'type'>
1983.0 <class 'type'>
1990.0 <class 'type'>
1981.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1984.0 <class 'type'>
1980.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1977.0 <class 'type'>
1982.0 <class 'type'>
1966.0 <class 'type'>
1956.0 <class 'type'>
1961.0 <class 'type'>
1958.0 <class 'type'>
1990.0 <class 'type'>
1985.0 <class 'type'>
1975.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>

1962.0 <class 'type'>
1977.0 <class 'type'>
1970.0 <class 'type'>
1980.0 <class 'type'>
1991.0 <class 'type'>
1969.0 <class 'type'>
1969.0 <class 'type'>
1976.0 <class 'type'>
1985.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1982.0 <class 'type'>
1971.0 <class 'type'>
1987.0 <class 'type'>
1970.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1958.0 <class 'type'>
1988.0 <class 'type'>
1982.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1977.0 <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1994.0 <class 'type'>
1983.0 <class 'type'>
1991.0 <class 'type'>
1977.0 <class 'type'>
1973.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1971.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1993.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1981.0 <class 'type'>
1984.0 <class 'type'>
1957.0 <class 'type'>
1972.0 <class 'type'>
1971.0 <class 'type'>
1979.0 <class 'type'>
1972.0 <class 'type'>
1974.0 <class 'type'>
1966.0 <class 'type'>
1965.0 <class 'type'>
1967.0 <class 'type'>
1974.0 <class 'type'>
1990.0 <class 'type'>
1996.0 <class 'type'>
1989.0 <class 'type'>
1970.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1982.0 <class 'type'>
1998.0 <class 'type'>
1978.0 <class 'type'>
1968.0 <class 'type'>
1976.0 <class 'type'>
1973.0 <class 'type'>
1961.0 <class 'type'>
1980.0 <class 'type'>
1978.0 <class 'type'>
1977.0 <class 'type'>
1954.0 <class 'type'>
1964.0 <class 'type'>
1967.0 <class 'type'>
1974.0 <class 'type'>
1971.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1971.0 <class 'type'>
1970.0 <class 'type'>
1976.0 <class 'type'>
1959.0 <class 'type'>
1965.0 <class 'type'>
1962.0 <class 'type'>
1976.0 <class 'type'>
1977.0 <class 'type'>
1966.0 <class 'type'>
1969.0 <class 'type'>
1968.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1983.0 <class 'type'>
1961.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1980.0 <class 'type'>
1961.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1981.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1996.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1963.0 <class 'type'>
1988.0 <class 'type'>
1974.0 <class 'type'>
1979.0 <class 'type'>
1990.0 <class 'type'>
1978.0 <class 'type'>
1988.0 <class 'type'>
1984.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1968.0 <class 'type'>
1969.0 <class 'type'>
1977.0 <class 'type'>
1976.0 <class 'type'>
1965.0 <class 'type'>
1963.0 <class 'type'>
1983.0 <class 'type'>
1958.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1993.0 <class 'type'>
1978.0 <class 'type'>
1989.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1996.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1979.0 <class 'type'>
1963.0 <class 'type'>
1979.0 <class 'type'>
1957.0 <class 'type'>
1956.0 <class 'type'>
1981.0 <class 'type'>
1985.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1988.0 <class 'type'>
1980.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1995.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1996.0 <class 'type'>
1989.0 <class 'type'>
1953.0 <class 'type'>
1955.0 <class 'type'>
1987.0 <class 'type'>
1980.0 <class 'type'>
1984.0 <class 'type'>
1976.0 <class 'type'>
1993.0 <class 'type'>
1979.0 <class 'type'>
1973.0 <class 'type'>
1974.0 <class 'type'>
1973.0 <class 'type'>
1984.0 <class 'type'>
1976.0 <class 'type'>
1985.0 <class 'type'>
1965.0 <class 'type'>
1968.0 <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1984.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1987.0 <class 'type'>
1983.0 <class 'type'>
1970.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1993.0 <class 'type'>
1982.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1988.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1978.0 <class 'type'>
1990.0 <class 'type'>
1970.0 <class 'type'>
1968.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1977.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1994.0 <class 'type'>
1986.0 <class 'type'>
1980.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1972.0 <class 'type'>
1972.0 <class 'type'>
1971.0 <class 'type'>
1975.0 <class 'type'>
1962.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1962.0 <class 'type'>
1989.0 <class 'type'>
1998.0 <class 'type'>
1956.0 <class 'type'>
1982.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1986.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1957.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1958.0 <class 'type'>
1962.0 <class 'type'>
1975.0 <class 'type'>
1978.0 <class 'type'>
1985.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1971.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1977.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1982.0 <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1981.0 <class 'type'>
1990.0 <class 'type'>
1974.0 <class 'type'>
1984.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1985.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1980.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1959.0 <class 'type'>
1965.0 <class 'type'>
1984.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1976.0 <class 'type'>
1987.0 <class 'type'>
1955.0 <class 'type'>
1993.0 <class 'type'>
1965.0 <class 'type'>
1961.0 <class 'type'>
1973.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1973.0 <class 'type'>
1987.0 <class 'type'>
1981.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1982.0 <class 'type'>
1980.0 <class 'type'>
1964.0 <class 'type'>
1974.0 <class 'type'>
1961.0 <class 'type'>
1989.0 <class 'type'>
1976.0 <class 'type'>
1973.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1981.0 <class 'type'>
1986.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1944.0 <class 'type'>
1973.0 <class 'type'>
1967.0 <class 'type'>
1953.0 <class 'type'>
1967.0 <class 'type'>
1971.0 <class 'type'>
1986.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>

1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1979.0 <class 'type'>
1982.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1962.0 <class 'type'>
1957.0 <class 'type'>
1987.0 <class 'type'>
1976.0 <class 'type'>
1993.0 <class 'type'>
1988.0 <class 'type'>
1961.0 <class 'type'>
1959.0 <class 'type'>
1997.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1979.0 <class 'type'>
1997.0 <class 'type'>
1990.0 <class 'type'>
1969.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1966.0 <class 'type'>
1992.0 <class 'type'>
1969.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1969.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1978.0 <class 'type'>
196.0 <class 'type'>
1968.0 <class 'type'>
1989.0 <class 'type'>
1985.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1982.0 <class 'type'>
1973.0 <class 'type'>
1982.0 <class 'type'>
1968.0 <class 'type'>
1976.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1970.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1986.0 <class 'type'>
1979.0 <class 'type'>
1990.0 <class 'type'>
1979.0 <class 'type'>
1993.0 <class 'type'>
1998.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1993.0 <class 'type'>
1975.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1981.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1970.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1974.0 <class 'type'>
1998.0 <class 'type'>
1991.0 <class 'type'>
1980.0 <class 'type'>
1995.0 <class 'type'>
1983.0 <class 'type'>
1965.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1994.0 <class 'type'>
1983.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1980.0 <class 'type'>
1972.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1988.0 <class 'type'>
1978.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1111.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1978.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1956.0 <class 'type'>
1965.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1984.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1957.0 <class 'type'>
1984.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1983.0 <class 'type'>
1990.0 <class 'type'>
1980.0 <class 'type'>
1990.0 <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1993.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1978.0 <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1982.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1994.0 <class 'type'>
1981.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1980.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1957.0 <class 'type'>
1988.0 <class 'type'>
1980.0 <class 'type'>
1969.0 <class 'type'>
1968.0 <class 'type'>
1973.0 <class 'type'>
1983.0 <class 'type'>
1977.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1984.0 <class 'type'>
1976.0 <class 'type'>
1972.0 <class 'type'>
1977.0 <class 'type'>
1981.0 <class 'type'>
1981.0 <class 'type'>
1983.0 <class 'type'>
1977.0 <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1982.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1994.0 <class 'type'>
1985.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1985.0 <class 'type'>
1953.0 <class 'type'>
1972.0 <class 'type'>
1951.0 <class 'type'>
1979.0 <class 'type'>
1982.0 <class 'type'>
1949.0 <class 'type'>
1987.0 <class 'type'>
1084.0 <class 'type'>
1981.0 <class 'type'>
1982.0 <class 'type'>
1995.0 <class 'type'>
1989.0 <class 'type'>

1988.0 <class 'type'>
1967.0 <class 'type'>
1948.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1975.0 <class 'type'>
1976.0 <class 'type'>
1996.0 <class 'type'>
1982.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1970.0 <class 'type'>
1990.0 <class 'type'>
1968.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1959.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1996.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1985.0 <class 'type'>
1994.0 <class 'type'>
1977.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1994.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1989.0 <class 'type'>
1983.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1982.0 <class 'type'>
1995.0 <class 'type'>
1985.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1971.0 <class 'type'>
1989.0 <class 'type'>
1985.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1980.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1988.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1983.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1985.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1976.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1986.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1985.0 <class 'type'>
1983.0 <class 'type'>
1990.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1981.0 <class 'type'>
1978.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1993.0 <class 'type'>
1967.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1983.0 <class 'type'>
1989.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1979.0 <class 'type'>
1975.0 <class 'type'>
1987.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1985.0 <class 'type'>
1966.0 <class 'type'>
1963.0 <class 'type'>
1995.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1981.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1971.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1988.0 <class 'type'>
1980.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1979.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1954.0 <class 'type'>
1986.0 <class 'type'>
1976.0 <class 'type'>
1977.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1981.0 <class 'type'>
1991.0 <class 'type'>
1980.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1974.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1985.0 <class 'type'>
1976.0 <class 'type'>
1986.0 <class 'type'>
1981.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1997.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1982.0 <class 'type'>
1982.0 <class 'type'>
1987.0 <class 'type'>
1978.0 <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1982.0 <class 'type'>
1995.0 <class 'type'>
1979.0 <class 'type'>
1995.0 <class 'type'>
1976.0 <class 'type'>
1979.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1995.0 <class 'type'>
1988.0 <class 'type'>
1981.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
nan <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1981.0 <class 'type'>
1981.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1977.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1997.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1997.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>

1971.0 <class 'type'>
1992.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1988.0 <class 'type'>
1996.0 <class 'type'>
1981.0 <class 'type'>
1960.0 <class 'type'>
1969.0 <class 'type'>
1981.0 <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1997.0 <class 'type'>
1975.0 <class 'type'>
1982.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
1979.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1977.0 <class 'type'>
1988.0 <class 'type'>
1982.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1979.0 <class 'type'>
1989.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1975.0 <class 'type'>
1977.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1981.0 <class 'type'>
1980.0 <class 'type'>
1983.0 <class 'type'>
1980.0 <class 'type'>
1993.0 <class 'type'>
1980.0 <class 'type'>
1993.0 <class 'type'>
1979.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1976.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1984.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1996.0 <class 'type'>
1990.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1983.0 <class 'type'>
1988.0 <class 'type'>
1982.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1979.0 <class 'type'>
1993.0 <class 'type'>
1987.0 <class 'type'>
1978.0 <class 'type'>
1983.0 <class 'type'>
1987.0 <class 'type'>
1996.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1983.0 <class 'type'>
1981.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1990.0 <class 'type'>
1978.0 <class 'type'>
1983.0 <class 'type'>
1991.0 <class 'type'>
1980.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1980.0 <class 'type'>
1984.0 <class 'type'>
1976.0 <class 'type'>
1980.0 <class 'type'>
1980.0 <class 'type'>
1980.0 <class 'type'>
1966.0 <class 'type'>
1986.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
1976.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1980.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1971.0 <class 'type'>
1986.0 <class 'type'>
1994.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1996.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1972.0 <class 'type'>
1985.0 <class 'type'>
1982.0 <class 'type'>
1971.0 <class 'type'>
1975.0 <class 'type'>
1985.0 <class 'type'>
1972.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1987.0 <class 'type'>
1978.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1975.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1970.0 <class 'type'>
1983.0 <class 'type'>
1989.0 <class 'type'>
1984.0 <class 'type'>
1980.0 <class 'type'>
1981.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1982.0 <class 'type'>
1987.0 <class 'type'>
1962.0 <class 'type'>
1983.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1977.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1983.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1970.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1982.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1996.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1996.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1967.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1971.0 <class 'type'>
1986.0 <class 'type'>
1991.0 <class 'type'>
1984.0 <class 'type'>
1971.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1979.0 <class 'type'>
1981.0 <class 'type'>
1990.0 <class 'type'>
1983.0 <class 'type'>
1991.0 <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1981.0 <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1983.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
1982.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1976.0 <class 'type'>
1992.0 <class 'type'>
1982.0 <class 'type'>
1982.0 <class 'type'>
1977.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1977.0 <class 'type'>
1976.0 <class 'type'>
1984.0 <class 'type'>
1973.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1977.0 <class 'type'>
1973.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1982.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1984.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1983.0 <class 'type'>
1975.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1981.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
2009.0 <class 'type'>
2005.0 <class 'type'>
1979.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1977.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1976.0 <class 'type'>
1981.0 <class 'type'>
1984.0 <class 'type'>
1991.0 <class 'type'>
1983.0 <class 'type'>
1977.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1973.0 <class 'type'>
1972.0 <class 'type'>
1983.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1975.0 <class 'type'>
1979.0 <class 'type'>
1987.0 <class 'type'>
1974.0 <class 'type'>
1982.0 <class 'type'>
1981.0 <class 'type'>
1983.0 <class 'type'>
1991.0 <class 'type'>
1980.0 <class 'type'>
1972.0 <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1982.0 <class 'type'>
1986.0 <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
1978.0 <class 'type'>
1990.0 <class 'type'>
1981.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1995.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1979.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1982.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1994.0 <class 'type'>
1982.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1979.0 <class 'type'>
1982.0 <class 'type'>
1974.0 <class 'type'>
1972.0 <class 'type'>
1985.0 <class 'type'>
1974.0 <class 'type'>
1978.0 <class 'type'>
1982.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1980.0 <class 'type'>
1980.0 <class 'type'>
1983.0 <class 'type'>
1992.0 <class 'type'>
1971.0 <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1974.0 <class 'type'>
1993.0 <class 'type'>
1975.0 <class 'type'>
1975.0 <class 'type'>
1985.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>

1991.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1979.0 <class 'type'>
1987.0 <class 'type'>
1974.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1985.0 <class 'type'>
1980.0 <class 'type'>
1989.0 <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1979.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
1976.0 <class 'type'>
1978.0 <class 'type'>
1967.0 <class 'type'>
1978.0 <class 'type'>
1983.0 <class 'type'>
1978.0 <class 'type'>
1975.0 <class 'type'>
1985.0 <class 'type'>
1982.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1976.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1973.0 <class 'type'>
1987.0 <class 'type'>
1983.0 <class 'type'>
1972.0 <class 'type'>
1973.0 <class 'type'>
1970.0 <class 'type'>
1986.0 <class 'type'>
1969.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1982.0 <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1994.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1979.0 <class 'type'>
1981.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1979.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1983.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1982.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1980.0 <class 'type'>
1980.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
1979.0 <class 'type'>
1993.0 <class 'type'>
1982.0 <class 'type'>
1991.0 <class 'type'>
1983.0 <class 'type'>
1978.0 <class 'type'>
1977.0 <class 'type'>
1975.0 <class 'type'>
1989.0 <class 'type'>
1976.0 <class 'type'>
1986.0 <class 'type'>
1978.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1975.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1982.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1986.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1977.0 <class 'type'>
1977.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1979.0 <class 'type'>
1980.0 <class 'type'>
1981.0 <class 'type'>
1993.0 <class 'type'>
1979.0 <class 'type'>
1977.0 <class 'type'>
1981.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1979.0 <class 'type'>
1986.0 <class 'type'>
1979.0 <class 'type'>
1979.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1980.0 <class 'type'>
1986.0 <class 'type'>
1976.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1977.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1982.0 <class 'type'>
1986.0 <class 'type'>
1991.0 <class 'type'>
1981.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1970.0 <class 'type'>
1979.0 <class 'type'>
1976.0 <class 'type'>
1982.0 <class 'type'>
1981.0 <class 'type'>
1976.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1980.0 <class 'type'>
1969.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1979.0 <class 'type'>
1980.0 <class 'type'>
1989.0 <class 'type'>
1973.0 <class 'type'>
1976.0 <class 'type'>
1985.0 <class 'type'>
1968.0 <class 'type'>
1974.0 <class 'type'>
1977.0 <class 'type'>
1975.0 <class 'type'>
2007.0 <class 'type'>
1982.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1986.0 <class 'type'>
1954.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1979.0 <class 'type'>
1980.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1982.0 <class 'type'>
1977.0 <class 'type'>
1980.0 <class 'type'>
1980.0 <class 'type'>
1989.0 <class 'type'>
1979.0 <class 'type'>
1987.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1969.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1979.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1977.0 <class 'type'>
1985.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>

1987.0 <class 'type'>
1989.0 <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1972.0 <class 'type'>
1981.0 <class 'type'>
1980.0 <class 'type'>
1977.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1975.0 <class 'type'>
1981.0 <class 'type'>
1988.0 <class 'type'>
1979.0 <class 'type'>
1986.0 <class 'type'>
1979.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1982.0 <class 'type'>
1981.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1981.0 <class 'type'>
1975.0 <class 'type'>
1980.0 <class 'type'>
1977.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1981.0 <class 'type'>
1990.0 <class 'type'>
1982.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1974.0 <class 'type'>
1986.0 <class 'type'>
1978.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1970.0 <class 'type'>
1987.0 <class 'type'>
1976.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
nan <class 'type'>
1994.0 <class 'type'>
1968.0 <class 'type'>
1978.0 <class 'type'>
1987.0 <class 'type'>
1981.0 <class 'type'>
1984.0 <class 'type'>
1976.0 <class 'type'>
1982.0 <class 'type'>
2007.0 <class 'type'>
1983.0 <class 'type'>
1987.0 <class 'type'>
1979.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1977.0 <class 'type'>
1989.0 <class 'type'>
1978.0 <class 'type'>
1980.0 <class 'type'>
1984.0 <class 'type'>
1976.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1978.0 <class 'type'>
1986.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1979.0 <class 'type'>
1980.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1980.0 <class 'type'>
1976.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1997.0 <class 'type'>
1978.0 <class 'type'>
1979.0 <class 'type'>
1987.0 <class 'type'>
1980.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1963.0 <class 'type'>
1978.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
1977.0 <class 'type'>
1993.0 <class 'type'>
1971.0 <class 'type'>
1980.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1980.0 <class 'type'>
1984.0 <class 'type'>
1976.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1979.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1982.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1980.0 <class 'type'>
1971.0 <class 'type'>
1983.0 <class 'type'>
1987.0 <class 'type'>
1974.0 <class 'type'>
1979.0 <class 'type'>
1985.0 <class 'type'>
1979.0 <class 'type'>
1979.0 <class 'type'>
1980.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1980.0 <class 'type'>
1983.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1982.0 <class 'type'>
1982.0 <class 'type'>
1977.0 <class 'type'>
1977.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1979.0 <class 'type'>
1969.0 <class 'type'>
1989.0 <class 'type'>
1965.0 <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1983.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1980.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1978.0 <class 'type'>
2007.0 <class 'type'>
1990.0 <class 'type'>
1959.0 <class 'type'>
1973.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1978.0 <class 'type'>
1985.0 <class 'type'>
1989.0 <class 'type'>
1979.0 <class 'type'>
1989.0 <class 'type'>
1973.0 <class 'type'>
1975.0 <class 'type'>
1974.0 <class 'type'>
1978.0 <class 'type'>
1978.0 <class 'type'>
1970.0 <class 'type'>
1975.0 <class 'type'>
1976.0 <class 'type'>
1976.0 <class 'type'>
1980.0 <class 'type'>
1981.0 <class 'type'>
1985.0 <class 'type'>
1980.0 <class 'type'>
1977.0 <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
1973.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1982.0 <class 'type'>
1980.0 <class 'type'>
1973.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1980.0 <class 'type'>
1975.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1979.0 <class 'type'>
1979.0 <class 'type'>
1983.0 <class 'type'>
1980.0 <class 'type'>
1979.0 <class 'type'>
1988.0 <class 'type'>
1984.0 <class 'type'>
1991.0 <class 'type'>
1978.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1982.0 <class 'type'>
1977.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
1992.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1993.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1998.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1983.0 <class 'type'>
1981.0 <class 'type'>
1983.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1968.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1981.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1969.0 <class 'type'>
1990.0 <class 'type'>
1981.0 <class 'type'>
1990.0 <class 'type'>
1974.0 <class 'type'>
1980.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1983.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1971.0 <class 'type'>
1973.0 <class 'type'>
1985.0 <class 'type'>
1993.0 <class 'type'>
1970.0 <class 'type'>
1993.0 <class 'type'>
1975.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1976.0 <class 'type'>
1973.0 <class 'type'>
1973.0 <class 'type'>
1979.0 <class 'type'>
1982.0 <class 'type'>
1982.0 <class 'type'>
1981.0 <class 'type'>
1975.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1981.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1991.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1977.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1982.0 <class 'type'>
1976.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1979.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1975.0 <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
1983.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1981.0 <class 'type'>
1986.0 <class 'type'>
1992.0 <class 'type'>
1982.0 <class 'type'>
1974.0 <class 'type'>
1974.0 <class 'type'>
1971.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1983.0 <class 'type'>
1980.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1976.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1974.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>

nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
1977.0 <class 'type'>
1979.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
1979.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1979.0 <class 'type'>
1995.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1977.0 <class 'type'>
1993.0 <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1996.0 <class 'type'>
1978.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1954.0 <class 'type'>
1970.0 <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1981.0 <class 'type'>
1985.0 <class 'type'>
1982.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1981.0 <class 'type'>
1988.0 <class 'type'>
1968.0 <class 'type'>
1976.0 <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1991.0 <class 'type'>
1974.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1973.0 <class 'type'>
1975.0 <class 'type'>
1980.0 <class 'type'>
1981.0 <class 'type'>
1968.0 <class 'type'>
1975.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1979.0 <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1957.0 <class 'type'>
1974.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1986.0 <class 'type'>
1991.0 <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
1985.0 <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1971.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1975.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1991.0 <class 'type'>
1988.0 <class 'type'>
1982.0 <class 'type'>
1978.0 <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
1983.0 <class 'type'>
1969.0 <class 'type'>
1990.0 <class 'type'>
1971.0 <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
1976.0 <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1972.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1970.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1991.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1991.0 <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1974.0 <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
1994.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
1983.0 <class 'type'>
1980.0 <class 'type'>
1982.0 <class 'type'>
1975.0 <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
1977.0 <class 'type'>
1974.0 <class 'type'>
1960.0 <class 'type'>
1979.0 <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1992.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
1994.0 <class 'type'>
1981.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1976.0 <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>

nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
1968.0 <class 'type'>
1979.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1979.0 <class 'type'>
1987.0 <class 'type'>
1975.0 <class 'type'>
1975.0 <class 'type'>
1977.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
1960.0 <class 'type'>
1969.0 <class 'type'>
1960.0 <class 'type'>
1959.0 <class 'type'>
1984.0 <class 'type'>
1982.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1952.0 <class 'type'>
1992.0 <class 'type'>
1970.0 <class 'type'>
1967.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
1969.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
1970.0 <class 'type'>
1984.0 <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1958.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
1980.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1978.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
1972.0 <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1982.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1975.0 <class 'type'>
1981.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
1989.0 <class 'type'>
1973.0 <class 'type'>
1984.0 <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1978.0 <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
1979.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1981.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1981.0 <class 'type'>
1985.0 <class 'type'>
1970.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1990.0 <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1991.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1969.0 <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1976.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
1978.0 <class 'type'>
1974.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
1969.0 <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1984.0 <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>

1989.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1988.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1983.0 <class 'type'>
1989.0 <class 'type'>
1989.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
1984.0 <class 'type'>
1970.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
1959.0 <class 'type'>
1983.0 <class 'type'>
1977.0 <class 'type'>
1989.0 <class 'type'>
1991.0 <class 'type'>
1990.0 <class 'type'>
1988.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1958.0 <class 'type'>
1984.0 <class 'type'>
1988.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1970.0 <class 'type'>
1969.0 <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1988.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1981.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1984.0 <class 'type'>
1964.0 <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1975.0 <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1961.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
1978.0 <class 'type'>
1973.0 <class 'type'>
1981.0 <class 'type'>
1967.0 <class 'type'>
1985.0 <class 'type'>
1965.0 <class 'type'>
1976.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1985.0 <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1957.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
1970.0 <class 'type'>
1965.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1965.0 <class 'type'>
1959.0 <class 'type'>
1988.0 <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
1986.0 <class 'type'>
1979.0 <class 'type'>
1979.0 <class 'type'>
1978.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1962.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
1982.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1982.0 <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1983.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1981.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1952.0 <class 'type'>
1958.0 <class 'type'>
1989.0 <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1974.0 <class 'type'>
1983.0 <class 'type'>
1966.0 <class 'type'>
1967.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
1973.0 <class 'type'>
1980.0 <class 'type'>
1983.0 <class 'type'>
1970.0 <class 'type'>
1974.0 <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>

nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
1973.0 <class 'type'>
1977.0 <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
1980.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
1973.0 <class 'type'>
1965.0 <class 'type'>
1985.0 <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1981.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1985.0 <class 'type'>
1985.0 <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
1973.0 <class 'type'>
1973.0 <class 'type'>
1978.0 <class 'type'>
1969.0 <class 'type'>
1972.0 <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
1956.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1974.0 <class 'type'>
1971.0 <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
1970.0 <class 'type'>
1974.0 <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1958.0 <class 'type'>
1982.0 <class 'type'>
1981.0 <class 'type'>
1958.0 <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1987.0 <class 'type'>
1989.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1981.0 <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1981.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
1985.0 <class 'type'>
1951.0 <class 'type'>
1982.0 <class 'type'>
1971.0 <class 'type'>
1969.0 <class 'type'>
1974.0 <class 'type'>
1979.0 <class 'type'>
1977.0 <class 'type'>
1957.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1987.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1984.0 <class 'type'>
1984.0 <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
1966.0 <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1957.0 <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1986.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
1979.0 <class 'type'>
1979.0 <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
1958.0 <class 'type'>
1971.0 <class 'type'>
1970.0 <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1980.0 <class 'type'>
1981.0 <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
1982.0 <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1985.0 <class 'type'>
1981.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1981.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
1989.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1986.0 <class 'type'>
1987.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
1980.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
1946.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
1982.0 <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
1982.0 <class 'type'>
1986.0 <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
1966.0 <class 'type'>
1958.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
1973.0 <class 'type'>
1965.0 <class 'type'>
1968.0 <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1959.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1970.0 <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
1979.0 <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1957.0 <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1959.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>

nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
1980.0 <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1984.0 <class 'type'>
1982.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
1981.0 <class 'type'>
1983.0 <class 'type'>
1981.0 <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1981.0 <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
1976.0 <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
1966.0 <class 'type'>
1970.0 <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1962.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
1961.0 <class 'type'>
1968.0 <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
1964.0 <class 'type'>
1966.0 <class 'type'>
1973.0 <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
1980.0 <class 'type'>
1983.0 <class 'type'>
1985.0 <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
1974.0 <class 'type'>
1968.0 <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1975.0 <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
1976.0 <class 'type'>
1969.0 <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1970.0 <class 'type'>
1976.0 <class 'type'>
1966.0 <class 'type'>
1980.0 <class 'type'>
1964.0 <class 'type'>
1978.0 <class 'type'>
1973.0 <class 'type'>
1979.0 <class 'type'>
1977.0 <class 'type'>
1980.0 <class 'type'>
1977.0 <class 'type'>
1965.0 <class 'type'>
1973.0 <class 'type'>
1975.0 <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1976.0 <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1982.0 <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1959.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1977.0 <class 'type'>
1958.0 <class 'type'>
1962.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1964.0 <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1961.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1960.0 <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1961.0 <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1960.0 <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
1979.0 <class 'type'>
1983.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>

nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1991.0 <class 'type'>
1983.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
1958.0 <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1972.0 <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
1961.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
1974.0 <class 'type'>
1977.0 <class 'type'>
1954.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1959.0 <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
1974.0 <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
1974.0 <class 'type'>
1959.0 <class 'type'>
1965.0 <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1959.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1979.0 <class 'type'>
1970.0 <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
1977.0 <class 'type'>
1970.0 <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1958.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>

nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1968.0 <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
1964.0 <class 'type'>
1972.0 <class 'type'>
1969.0 <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1950.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1957.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
1972.0 <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
1964.0 <class 'type'>
1973.0 <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
1964.0 <class 'type'>
1969.0 <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
1980.0 <class 'type'>
1979.0 <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1966.0 <class 'type'>
1958.0 <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
1960.0 <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
1976.0 <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1959.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
1967.0 <class 'type'>
1977.0 <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
1975.0 <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
1971.0 <class 'type'>
1969.0 <class 'type'>
1973.0 <class 'type'>
1966.0 <class 'type'>
1966.0 <class 'type'>
1964.0 <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>

nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
1975.0 <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
1959.0 <class 'type'>
1972.0 <class 'type'>
1964.0 <class 'type'>
1959.0 <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1965.0 <class 'type'>
1959.0 <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
1956.0 <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1962.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1962.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1962.0 <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
1974.0 <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
1970.0 <class 'type'>
1981.0 <class 'type'>
1976.0 <class 'type'>
1977.0 <class 'type'>
1979.0 <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
1963.0 <class 'type'>
1975.0 <class 'type'>
1975.0 <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1974.0 <class 'type'>
1976.0 <class 'type'>
1971.0 <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
1971.0 <class 'type'>
1965.0 <class 'type'>
1976.0 <class 'type'>
1978.0 <class 'type'>
1978.0 <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
1977.0 <class 'type'>
1964.0 <class 'type'>
1974.0 <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
1973.0 <class 'type'>
1968.0 <class 'type'>
1963.0 <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
1962.0 <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
1961.0 <class 'type'>
1963.0 <class 'type'>
1967.0 <class 'type'>
1968.0 <class 'type'>
1965.0 <class 'type'>
1961.0 <class 'type'>
1973.0 <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1961.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1965.0 <class 'type'>
1973.0 <class 'type'>
1969.0 <class 'type'>
1969.0 <class 'type'>
1961.0 <class 'type'>
1965.0 <class 'type'>
1960.0 <class 'type'>
1967.0 <class 'type'>
1963.0 <class 'type'>
1970.0 <class 'type'>
1973.0 <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
1961.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1957.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
1971.0 <class 'type'>
1969.0 <class 'type'>
1960.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
nan <class 'type'>
1955.0 <class 'type'>
nan <class 'type'>
1959.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
1962.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1970.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1961.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1962.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1961.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1961.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>

nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1976.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1975.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1973.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1959.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1960.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1971.0 <class 'type'>
1961.0 <class 'type'>
1964.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
1959.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1958.0 <class 'type'>
1962.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1992.0 <class 'type'>
nan <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1969.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1966.0 <class 'type'>
1972.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1947.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
1963.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1960.0 <class 'type'>
nan <class 'type'>
1965.0 <class 'type'>
nan <class 'type'>
1954.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1964.0 <class 'type'>
1967.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1953.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1985.0 <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1988.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1987.0 <class 'type'>
1990.0 <class 'type'>
2006.0 <class 'type'>
2006.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1978.0 <class 'type'>
1995.0 <class 'type'>
1983.0 <class 'type'>
1989.0 <class 'type'>
1988.0 <class 'type'>
1992.0 <class 'type'>
1983.0 <class 'type'>
1997.0 <class 'type'>
1111.0 <class 'type'>
1111.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1988.0 <class 'type'>
1978.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1977.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1982.0 <class 'type'>
1989.0 <class 'type'>
1993.0 <class 'type'>
1982.0 <class 'type'>
1990.0 <class 'type'>
1982.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1979.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1997.0 <class 'type'>
1993.0 <class 'type'>
1984.0 <class 'type'>
1981.0 <class 'type'>
nan <class 'type'>
1983.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1972.0 <class 'type'>
1990.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1992.0 <class 'type'>
1983.0 <class 'type'>
1979.0 <class 'type'>
1980.0 <class 'type'>
nan <class 'type'>
1994.0 <class 'type'>
1982.0 <class 'type'>
1984.0 <class 'type'>
1995.0 <class 'type'>
1984.0 <class 'type'>
1995.0 <class 'type'>
1985.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1983.0 <class 'type'>
1991.0 <class 'type'>
1992.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1990.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1986.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1985.0 <class 'type'>
1992.0 <class 'type'>
1995.0 <class 'type'>
2000.0 <class 'type'>
1993.0 <class 'type'>
1982.0 <class 'type'>
1986.0 <class 'type'>
1972.0 <class 'type'>
1983.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1991.0 <class 'type'>
1995.0 <class 'type'>
1986.0 <class 'type'>
1996.0 <class 'type'>
1981.0 <class 'type'>
1995.0 <class 'type'>
1993.0 <class 'type'>
1994.0 <class 'type'>
1993.0 <class 'type'>
1985.0 <class 'type'>
1986.0 <class 'type'>
1996.0 <class 'type'>
1985.0 <class 'type'>
1994.0 <class 'type'>
1997.0 <class 'type'>
1987.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1982.0 <class 'type'>
1996.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1993.0 <class 'type'>
nan <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1992.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1995.0 <class 'type'>
1983.0 <class 'type'>
1986.0 <class 'type'>
1979.0 <class 'type'>
1980.0 <class 'type'>
1984.0 <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
nan <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1990.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1978.0 <class 'type'>
1986.0 <class 'type'>
1988.0 <class 'type'>
1981.0 <class 'type'>
1991.0 <class 'type'>
1991.0 <class 'type'>
1986.0 <class 'type'>
1970.0 <class 'type'>
1982.0 <class 'type'>
1997.0 <class 'type'>
1996.0 <class 'type'>
1996.0 <class 'type'>
1989.0 <class 'type'>
1984.0 <class 'type'>
1990.0 <class 'type'>

1986.0 <class 'type'>
1990.0 <class 'type'>
1983.0 <class 'type'>
1992.0 <class 'type'>
1989.0 <class 'type'>
1992.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1987.0 <class 'type'>
1995.0 <class 'type'>
1994.0 <class 'type'>
1995.0 <class 'type'>
1992.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
2000.0 <class 'type'>
1999.0 <class 'type'>
nan <class 'type'>
1987.0 <class 'type'>
1993.0 <class 'type'>
1993.0 <class 'type'>
1997.0 <class 'type'>
1990.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
1989.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
1994.0 <class 'type'>
1994.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1995.0 <class 'type'>
1972.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
nan <class 'type'>
1998.0 <class 'type'>
1999.0 <class 'type'>
1978.0 <class 'type'>
1998.0 <class 'type'>
1996.0 <class 'type'>
1961.0 <class 'type'>
1984.0 <class 'type'>
1961.0 <class 'type'>
nan <class 'type'>
1998.0 <class 'type'>
2004.0 <class 'type'>
1954.0 <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
1979.0 <class 'type'>
nan <class 'type'>
1968.0 <class 'type'>
1983.0 <class 'type'>
2002.0 <class 'type'>
1988.0 <class 'type'>
1986.0 <class 'type'>
2000.0 <class 'type'>
1998.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1988.0 <class 'type'>
2001.0 <class 'type'>
1995.0 <class 'type'>
1975.0 <class 'type'>
1984.0 <class 'type'>
1998.0 <class 'type'>
2001.0 <class 'type'>
2000.0 <class 'type'>
1992.0 <class 'type'>
1991.0 <class 'type'>
1994.0 <class 'type'>
1999.0 <class 'type'>
1993.0 <class 'type'>
1955.0 <class 'type'>
1959.0 <class 'type'>
1999.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2003.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2003.0 <class 'type'>
2003.0 <class 'type'>
1985.0 <class 'type'>
2000.0 <class 'type'>
2004.0 <class 'type'>
2002.0 <class 'type'>
2003.0 <class 'type'>
2005.0 <class 'type'>
1989.0 <class 'type'>
2005.0 <class 'type'>
1988.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2005.0 <class 'type'>
2003.0 <class 'type'>
2005.0 <class 'type'>
2004.0 <class 'type'>
2004.0 <class 'type'>
2001.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
1992.0 <class 'type'>
2001.0 <class 'type'>
2003.0 <class 'type'>
2002.0 <class 'type'>
2002.0 <class 'type'>
2001.0 <class 'type'>
1992.0 <class 'type'>
1993.0 <class 'type'>
1989.0 <class 'type'>
1995.0 <class 'type'>
1990.0 <class 'type'>
2001.0 <class 'type'>
1996.0 <class 'type'>
2004.0 <class 'type'>
1997.0 <class 'type'>
1999.0 <class 'type'>
1996.0 <class 'type'>
1998.0 <class 'type'>
1991.0 <class 'type'>
1996.0 <class 'type'>
2002.0 <class 'type'>
1989.0 <class 'type'>
1997.0 <class 'type'>
1998.0 <class 'type'>
1994.0 <class 'type'>
2001.0 <class 'type'>
1990.0 <class 'type'>
1992.0 <class 'type'>
2000.0 <class 'type'>
1992.0 <class 'type'>
2003.0 <class 'type'>
2000.0 <class 'type'>
2000.0 <class 'type'>
1995.0 <class 'type'>
2000.0 <class 'type'>
1997.0 <class 'type'>
2001.0 <class 'type'>
1995.0 <class 'type'>
2001.0 <class 'type'>
1997.0 <class 'type'>
2000.0 <class 'type'>
2001.0 <class 'type'>
1999.0 <class 'type'>
1999.0 <class 'type'>
1995.0 <class 'type'>
2002.0 <class 'type'>

In [98]:
df_ages.isna().mean()*100

CLIMBER_ID      0.000000
LAST            0.000000
FIRST           0.023310
GENDER          1.950272
NATION          0.000000
LAST_ACTIVE     4.335664
YOB            33.480963
NAME            0.000000
dtype: float64

In [99]:
for key, value in df_ages['NAME'].iteritems():
    value = value.strip()

## Concat with Boulder Results

In [135]:
youth_boulder['CATEGORY'].value_counts()

boulder    2538
Name: CATEGORY, dtype: int64

In [140]:
youth_boulder['NAME']

373                    LuceDOUADY
374                 NatsumiHIRANO
375                   SakiKIKUCHI
376                  NaileMEIGNAN
377                      HanaKUDO
                  ...
5974                 TomášLUKÁŠEK
5975           Felix StåhlWADSTEN
5976            Hauk SteinssonLEM
5977    Christian PhillipELIASSEN
5978                JanMACHARACEK
Name: NAME, Length: 2538, dtype: object

In [152]:
result = pd.merge(youth_boulder, df_ages, how='outer', on='NAME')

In [154]:
youth_boulder = result

In [155]:
youth_boulder

,COMP,PLACE,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST_x,LAST_x,NATION_x,...,FINAL,CATEGORY,NAME,CLIMBER_ID,LAST_y,FIRST_y,GENDER,NATION_y,LAST_ACTIVE,YOB
0,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019.0,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Luce,DOUADY,FRA,...,3T4z35,boulder,LuceDOUADY,54486.0,DOUADY,Luce,female,FRA,26/10/2019,2003.0
1,European Youth Cup (B),Soure (POR) 2019,Soure,2019.0,POR,European Youth Cup (B) - Soure (POR) 2019,27 - 28 April 2019,Luce,DOUADY,FRA,...,1T3z16,boulder,LuceDOUADY,54486.0,DOUADY,Luce,female,FRA,26/10/2019,2003.0
2,IFSC Youth World Championships,Moscow (RUS) 2018,Moscow,2018.0,RUS,IFSC Youth World Championships - Moscow (RUS)...,9 - 16 August 2018,Luce,DOUADY,FRA,...,0,boulder,LuceDOUADY,54486.0,DOUADY,Luce,female,FRA,26/10/2019,2003.0
3,European Youth Cup (B),Sofia (BUL) 2018,Sofia,2018.0,BUL,European Youth Cup (B) - Sofia (BUL) 2018,21 - 22 July 2018,Luce,DOUADY,FRA,...,3T3z53,boulder,LuceDOUADY,54486.0,DOUADY,Luce,female,FRA,26/10/2019,2003.0
4,European Youth Cup (B),Soure (POR) 2018,Soure,2018.0,POR,European Youth Cup (B) - Soure (POR) 2018,5 - 6 May 2018,Luce,DOUADY,FRA,...,4T4z65,boulder,LuceDOUADY,54486.0,DOUADY,Luce,female,FRA,26/10/2019,2003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Stefanie Ann LOW SU YING,81868.0,LOW SU YING,Stefanie Ann,female,SGP,NaN,2001.0
14777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Rajiah SALLSABILLAH,81869.0,SALLSABILLAH,Rajiah,female,INA,NaN,1999.0
14778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Kseniia PETROVA,81870.0,PETROVA,Kseniia,female,RUS,NaN,1999.0
14779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,HinayahMUHAMMAD,81871.0,MUHAMMAD,Hinayah,male,INA,NaN,1995.0
14780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Melika RAHEMI,81872.0,RAHEMI,Melika,female,IRI,NaN,2002.0

In [156]:
import random 
nans = youth_boulder['YOB'].isna()
length = sum(nans)
replacement = random.choices([2002, 2003, 2004, 2000], k=length)
youth_boulder.loc[nans,'YOB'] = replacement

In [160]:
youth_boulder['YOB'] = youth_boulder['YOB'].apply(np.int64)

In [161]:
youth_boulder['YOB'].dtypes

dtype('int64')

## Deleting athletes that didn't compete

In [162]:
youth_boulder['GENDER'].fillna("Unknown", inplace=True)
youth_boulder['STARTNR'].fillna(0, inplace=True)

In [163]:
youth_boulder.drop(['CLIMBER_ID', 'LAST_y', 'FIRST_y','LAST_ACTIVE', 'PLACE'], axis=1, inplace=True)

In [164]:
youth_boulder['GENDER'].fillna("Unknown", inplace=True)
youth_boulder['NATION_y'].fillna("Unknown", inplace=True)
youth_boulder['STARTNR'].fillna(0, inplace=True)

In [165]:
youth_boulder.isna().mean()*100

COMP                 82.727826
LOCATION             82.727826
YEAR                 82.727826
COUNTRY              82.727826
COMPETITION_TITLE    82.727826
COMPETITION_DATE     82.727826
FIRST_x              82.727826
LAST_x               82.727826
NATION_x             82.727826
STARTNR               0.000000
RANK                 82.727826
QUALIFICATION        82.727826
QUALIFICATION_1      82.727826
QUALIFICATION_2      82.727826
SEMIFINAL            82.727826
FINAL                82.727826
CATEGORY             82.727826
NAME                  0.000000
GENDER                0.000000
NATION_y              0.000000
YOB                   0.000000
dtype: float64

In [166]:
youth_boulder = youth_boulder[youth_boulder['COMPETITION_TITLE'].notna()]

In [167]:
youth_boulder.isna().mean()*100

COMP                 0.0
LOCATION             0.0
YEAR                 0.0
COUNTRY              0.0
COMPETITION_TITLE    0.0
COMPETITION_DATE     0.0
FIRST_x              0.0
LAST_x               0.0
NATION_x             0.0
STARTNR              0.0
RANK                 0.0
QUALIFICATION        0.0
QUALIFICATION_1      0.0
QUALIFICATION_2      0.0
SEMIFINAL            0.0
FINAL                0.0
CATEGORY             0.0
NAME                 0.0
GENDER               0.0
NATION_y             0.0
YOB                  0.0
dtype: float64

In [168]:
youth_boulder.to_csv(r'youth_boulder.csv', index = False)

In [170]:
adult_boulder_results.isna().mean()*100

COMP                 0.0
PLACE                0.0
LOCATION             0.0
YEAR                 0.0
COUNTRY              0.0
COMPETITION_TITLE    0.0
COMPETITION_DATE     0.0
FIRST                0.0
LAST                 0.0
NATION               0.0
STARTNR              0.0
RANK                 0.0
QUALIFICATION        0.0
QUALIFICATION_1      0.0
QUALIFICATION_2      0.0
SEMIFINAL            0.0
FINAL                0.0
CATEGORY             0.0
NAME                 0.0
dtype: float64

In [171]:
adult_boulder = pd.merge(adult_boulder_results, df_ages, how='outer', on='NAME')

In [173]:
adult_boulder.isna().mean()*100

COMP                 79.817649
PLACE                79.817649
LOCATION             79.817649
YEAR                 79.817649
COUNTRY              79.817649
COMPETITION_TITLE    79.817649
COMPETITION_DATE     79.817649
FIRST_x              79.817649
LAST_x               79.817649
NATION_x             79.817649
STARTNR              79.817649
RANK                 79.817649
QUALIFICATION        79.817649
QUALIFICATION_1      79.817649
QUALIFICATION_2      79.817649
SEMIFINAL            79.817649
FINAL                79.817649
CATEGORY             79.817649
NAME                  0.000000
CLIMBER_ID            2.709215
LAST_y                2.709215
FIRST_y               2.728753
GENDER                4.343862
NATION_y              2.709215
LAST_ACTIVE           6.792576
YOB                  30.771736
dtype: float64

In [174]:
adult_boulder = adult_boulder[adult_boulder['COMPETITION_TITLE'].notna()]

In [175]:
adult_boulder.isna().mean()*100

COMP                  0.000000
PLACE                 0.000000
LOCATION              0.000000
YEAR                  0.000000
COUNTRY               0.000000
COMPETITION_TITLE     0.000000
COMPETITION_DATE      0.000000
FIRST_x               0.000000
LAST_x                0.000000
NATION_x              0.000000
STARTNR               0.000000
RANK                  0.000000
QUALIFICATION         0.000000
QUALIFICATION_1       0.000000
QUALIFICATION_2       0.000000
SEMIFINAL             0.000000
FINAL                 0.000000
CATEGORY              0.000000
NAME                  0.000000
CLIMBER_ID           13.423685
LAST_y               13.423685
FIRST_y              13.423685
GENDER               13.423685
NATION_y             13.423685
LAST_ACTIVE          16.392385
YOB                  13.520490
dtype: float64

In [185]:
adult_boulder['GENDER'].fillna("Unknown", inplace=True)
adult_boulder['NATION_y'].fillna("Unknown", inplace=True)

In [177]:
adult_boulder['YOB'].fillna(0, inplace=True)

/Users/hpb/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [180]:
adult_boulder.drop(['CLIMBER_ID', 'LAST_y', 'FIRST_y','LAST_ACTIVE', 'PLACE'], axis=1, inplace=True)

/Users/hpb/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [186]:
adult_boulder.isna().mean()*100

COMP                 0.0
LOCATION             0.0
YEAR                 0.0
COUNTRY              0.0
COMPETITION_TITLE    0.0
COMPETITION_DATE     0.0
FIRST_x              0.0
LAST_x               0.0
NATION_x             0.0
STARTNR              0.0
RANK                 0.0
QUALIFICATION        0.0
QUALIFICATION_1      0.0
QUALIFICATION_2      0.0
SEMIFINAL            0.0
FINAL                0.0
CATEGORY             0.0
NAME                 0.0
GENDER               0.0
NATION_y             0.0
YOB                  0.0
dtype: float64

In [187]:
adult_boulder.to_csv(r'adult_boulder.csv', index = False)

# Concat with lead results

In [190]:
youth_lead['NAME'] = youth_lead['NAME'].str.replace(" ","")

<ipython-input-190-0f0b0f5035a6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  youth_lead['NAME'] = youth_lead['NAME'].str.replace(" ","")

In [192]:
youth_lead.columns

Index(['COMP', 'PLACE', 'LOCATION', 'YEAR', 'COUNTRY', 'COMPETITION_TITLE',
       'COMPETITION_DATE', 'FIRST', 'LAST', 'NATION', 'STARTNR', 'RANK',
       'QUALIFICATION', 'QUALIFICATION_1', 'QUALIFICATION_2', 'SEMIFINAL',
       'FINAL', 'POINTS', 'CATEGORY', 'NAME'],
      dtype='object')

In [193]:
youth_lead.isna().mean()*100

COMP                 0.0
PLACE                0.0
LOCATION             0.0
YEAR                 0.0
COUNTRY              0.0
COMPETITION_TITLE    0.0
COMPETITION_DATE     0.0
FIRST                0.0
LAST                 0.0
NATION               0.0
STARTNR              0.0
RANK                 0.0
QUALIFICATION        0.0
QUALIFICATION_1      0.0
QUALIFICATION_2      0.0
SEMIFINAL            0.0
FINAL                0.0
POINTS               0.0
CATEGORY             0.0
NAME                 0.0
dtype: float64

In [195]:
youth_lead = pd.merge(youth_lead, df_ages, how='outer', on='NAME')

In [196]:
youth_lead.duplicated().mean()*100

0.0

In [197]:
youth_lead.isna().mean()*100

COMP                 72.261224
PLACE                72.261224
LOCATION             72.261224
YEAR                 72.261224
COUNTRY              72.261224
COMPETITION_TITLE    72.261224
COMPETITION_DATE     72.261224
FIRST_x              72.261224
LAST_x               72.261224
NATION_x             72.261224
STARTNR              72.261224
RANK                 72.261224
QUALIFICATION        72.261224
QUALIFICATION_1      72.261224
QUALIFICATION_2      72.261224
SEMIFINAL            72.261224
FINAL                72.261224
POINTS               72.261224
CATEGORY             72.261224
NAME                  0.000000
CLIMBER_ID            8.636659
LAST_y                8.636659
FIRST_y               8.654357
GENDER               10.117397
NATION_y              8.636659
LAST_ACTIVE          12.288361
YOB                  34.056988
dtype: float64

In [200]:
youth_lead = youth_lead[youth_lead['COMPETITION_TITLE'].notna()]

In [201]:
youth_lead['GENDER'].fillna("Unknown", inplace=True)
youth_lead['NATION_y'].fillna("Unknown", inplace=True)
youth_lead['STARTNR'].fillna(0, inplace=True)

/Users/hpb/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [202]:
youth_lead

,COMP,PLACE,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST_x,LAST_x,NATION_x,...,POINTS,CATEGORY,NAME,CLIMBER_ID,LAST_y,FIRST_y,GENDER,NATION_y,LAST_ACTIVE,YOB
0,IFSC Youth World Championships,Arco (ITA) 2019,Arco,2019.0,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Nika,POTAPOVA,UKR,...,1.50,lead,NikaPOTAPOVA,64428.0,POTAPOVA,Nika,female,UKR,26/10/2019,2003.0
1,"European Youth Cup (S,L)",Imst (AUT) 2019,Imst,2019.0,AUT,"European Youth Cup (S,L) - Imst (AUT) 2019",2 - 4 August 2019,Nika,POTAPOVA,UKR,...,3.74,lead,NikaPOTAPOVA,64428.0,POTAPOVA,Nika,female,UKR,26/10/2019,2003.0
2,IFSC Youth World Championships,Moscow (RUS) 2018,Moscow,2018.0,RUS,IFSC Youth World Championships - Moscow (RUS)...,9 - 16 August 2018,Nika,POTAPOVA,UKR,...,4.39,lead,NikaPOTAPOVA,64428.0,POTAPOVA,Nika,female,UKR,26/10/2019,2003.0
3,European Youth Cup (L),Munich (GER) 2018,Munich,2018.0,GER,European Youth Cup (L) - Munich (GER) 2018,7 - 8 July 2018,Nika,POTAPOVA,UKR,...,2.65,lead,NikaPOTAPOVA,64428.0,POTAPOVA,Nika,female,UKR,26/10/2019,2003.0
4,European Youth Cup (L),Uster (SUI) 2018,Uster,2018.0,SUI,European Youth Cup (L) - Uster (SUI) 2018,30 June - 1 July 2018,Nika,POTAPOVA,UKR,...,3.00,lead,NikaPOTAPOVA,64428.0,POTAPOVA,Nika,female,UKR,26/10/2019,2003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Jan,KROSZKA,POL,...,36.50,lead,JanKROSZKA,NaN,NaN,NaN,Unknown,Unknown,NaN,NaN
4698,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Tommy,GEORGE,FRA,...,14.14,lead,TommyGEORGE,NaN,NaN,NaN,Unknown,Unknown,NaN,NaN
4699,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Tommy,GEORGE,FRA,...,14.14,lead,TommyGEORGE,NaN,NaN,NaN,Unknown,Unknown,NaN,NaN
4700,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Alessandro,LARCHER,ITA,...,18.47,lead,AlessandroLARCHER,NaN,NaN,NaN,Unknown,Unknown,NaN,NaN
4701,"European Youth Cup (L,S)",Voiron (FRA) 2018,Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Alessandro,LARCHER,ITA,...,18.47,lead,AlessandroLARCHER,NaN,NaN,NaN,Unknown,Unknown,NaN,NaN

In [203]:
youth_lead.isna().mean()*100

COMP                  0.000000
PLACE                 0.000000
LOCATION              0.000000
YEAR                  0.000000
COUNTRY               0.000000
COMPETITION_TITLE     0.000000
COMPETITION_DATE      0.000000
FIRST_x               0.000000
LAST_x                0.000000
NATION_x              0.000000
STARTNR               0.000000
RANK                  0.000000
QUALIFICATION         0.000000
QUALIFICATION_1       0.000000
QUALIFICATION_2       0.000000
SEMIFINAL             0.000000
FINAL                 0.000000
POINTS                0.000000
CATEGORY              0.000000
NAME                  0.000000
CLIMBER_ID           31.135687
LAST_y               31.135687
FIRST_y              31.135687
GENDER                0.000000
NATION_y              0.000000
LAST_ACTIVE          32.837091
YOB                  31.135687
dtype: float64

In [204]:
import random 
nans = youth_lead['YOB'].isna()
length = sum(nans)
replacement = random.choices([2002, 2003, 2004, 2000], k=length)
youth_lead.loc[nans,'YOB'] = replacement
#As you can only be between a certain age to compete in youth championships - fill nulls with average age.

/Users/hpb/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [206]:
youth_lead.isna().mean()*100

COMP                  0.000000
PLACE                 0.000000
LOCATION              0.000000
YEAR                  0.000000
COUNTRY               0.000000
COMPETITION_TITLE     0.000000
COMPETITION_DATE      0.000000
FIRST_x               0.000000
LAST_x                0.000000
NATION_x              0.000000
STARTNR               0.000000
RANK                  0.000000
QUALIFICATION         0.000000
QUALIFICATION_1       0.000000
QUALIFICATION_2       0.000000
SEMIFINAL             0.000000
FINAL                 0.000000
POINTS                0.000000
CATEGORY              0.000000
NAME                  0.000000
CLIMBER_ID           31.135687
LAST_y               31.135687
FIRST_y              31.135687
GENDER                0.000000
NATION_y              0.000000
LAST_ACTIVE          32.837091
YOB                   0.000000
dtype: float64

In [209]:
youth_lead.drop(['CLIMBER_ID', 'LAST_y', 'FIRST_y', 'LAST_ACTIVE'], axis=1, inplace=True)

KeyError: "['CLIMBER_ID' 'LAST_y' 'FIRST_y' 'LAST_ACTIVE'] not found in axis"

In [213]:
youth_lead.drop(('PLACE'), axis = 1, inplace= True)

/Users/hpb/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [214]:
youth_lead

,COMP,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST_x,LAST_x,NATION_x,STARTNR,...,QUALIFICATION_1,QUALIFICATION_2,SEMIFINAL,FINAL,POINTS,CATEGORY,NAME,GENDER,NATION_y,YOB
0,IFSC Youth World Championships,Arco,2019.0,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Nika,POTAPOVA,UKR,418.0,...,"Top1.,Top1.,Top1.,Top1.","41+1.,41+1.,41+1.,41+1.",50+,54+,1.50,lead,NikaPOTAPOVA,female,UKR,2003.0
1,"European Youth Cup (S,L)",Imst,2019.0,AUT,"European Youth Cup (S,L) - Imst (AUT) 2019",2 - 4 August 2019,Nika,POTAPOVA,UKR,174.0,...,"Top1.,Top1.,Top1.,Top1.","Top1.,Top1.,Top1.,Top1.",0,53+,3.74,lead,NikaPOTAPOVA,female,UKR,2003.0
2,IFSC Youth World Championships,Moscow,2018.0,RUS,IFSC Youth World Championships - Moscow (RUS)...,9 - 16 August 2018,Nika,POTAPOVA,UKR,337.0,...,"34+4.,34+4.,34+4.,34+4.","38+3.,38+3.,38+3.,38+3.",28+,34+,4.39,lead,NikaPOTAPOVA,female,UKR,2003.0
3,European Youth Cup (L),Munich,2018.0,GER,European Youth Cup (L) - Munich (GER) 2018,7 - 8 July 2018,Nika,POTAPOVA,UKR,42.0,...,"Top1.,Top1.,Top1.,Top1.","31+2.,31+2.,31+2.,31+2.",0,Top,2.65,lead,NikaPOTAPOVA,female,UKR,2003.0
4,European Youth Cup (L),Uster,2018.0,SUI,European Youth Cup (L) - Uster (SUI) 2018,30 June - 1 July 2018,Nika,POTAPOVA,UKR,29.0,...,"40+1.,40+1.,40+1.,40+1.","42+2.,42+2.,42+2.,42+2.",0,51+,3.00,lead,NikaPOTAPOVA,female,UKR,2003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,"European Youth Cup (L,S)",Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Jan,KROSZKA,POL,59.0,...,"13 35.,13 35.,13 35.,13 35.,13 35.,13 35.,13 3...","4+37.,4+37.,4+37.,4+37.,4+37.,4+37.,4+37.,4+37.",0,0,36.50,lead,JanKROSZKA,Unknown,Unknown,2003.0
4698,"European Youth Cup (L,S)",Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Tommy,GEORGE,FRA,159.0,...,"33+6.,33+6.,33+6.,33+6.","25 19.,25 19.,25 19.,25 19.",0,0,14.14,lead,TommyGEORGE,Unknown,Unknown,2000.0
4699,"European Youth Cup (L,S)",Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Tommy,GEORGE,FRA,159.0,...,"33+6.,33+6.,33+6.,33+6.,33+6.,33+6.,33+6.,33+6.","25 19.,25 19.,25 19.,25 19.,25 19.,25 19.,25 1...",0,0,14.14,lead,TommyGEORGE,Unknown,Unknown,2000.0
4700,"European Youth Cup (L,S)",Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Alessandro,LARCHER,ITA,180.0,...,"33 15.,33 15.,33 15.,33 15.","23+22.,23+22.,23+22.,23+22.",0,0,18.47,lead,AlessandroLARCHER,Unknown,Unknown,2003.0
4701,"European Youth Cup (L,S)",Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Alessandro,LARCHER,ITA,180.0,...,"33 15.,33 15.,33 15.,33 15.,33 15.,33 15.,33 1...","23+22.,23+22.,23+22.,23+22.,23+22.,23+22.,23+2...",0,0,18.47,lead,AlessandroLARCHER,Unknown,Unknown,2004.0

In [215]:
youth_lead.isna().mean()*100

COMP                 0.0
LOCATION             0.0
YEAR                 0.0
COUNTRY              0.0
COMPETITION_TITLE    0.0
COMPETITION_DATE     0.0
FIRST_x              0.0
LAST_x               0.0
NATION_x             0.0
STARTNR              0.0
RANK                 0.0
QUALIFICATION        0.0
QUALIFICATION_1      0.0
QUALIFICATION_2      0.0
SEMIFINAL            0.0
FINAL                0.0
POINTS               0.0
CATEGORY             0.0
NAME                 0.0
GENDER               0.0
NATION_y             0.0
YOB                  0.0
dtype: float64

In [216]:
youth_lead.duplicated().mean()*100

0.46788600595491275

In [217]:
youth_lead = youth_lead.drop_duplicates()

In [218]:
youth_lead.reset_index(drop=True)

,COMP,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST_x,LAST_x,NATION_x,STARTNR,...,QUALIFICATION_1,QUALIFICATION_2,SEMIFINAL,FINAL,POINTS,CATEGORY,NAME,GENDER,NATION_y,YOB
0,IFSC Youth World Championships,Arco,2019.0,ITA,IFSC Youth World Championships - Arco (ITA) 2...,22 - 31 August 2019,Nika,POTAPOVA,UKR,418.0,...,"Top1.,Top1.,Top1.,Top1.","41+1.,41+1.,41+1.,41+1.",50+,54+,1.50,lead,NikaPOTAPOVA,female,UKR,2003.0
1,"European Youth Cup (S,L)",Imst,2019.0,AUT,"European Youth Cup (S,L) - Imst (AUT) 2019",2 - 4 August 2019,Nika,POTAPOVA,UKR,174.0,...,"Top1.,Top1.,Top1.,Top1.","Top1.,Top1.,Top1.,Top1.",0,53+,3.74,lead,NikaPOTAPOVA,female,UKR,2003.0
2,IFSC Youth World Championships,Moscow,2018.0,RUS,IFSC Youth World Championships - Moscow (RUS)...,9 - 16 August 2018,Nika,POTAPOVA,UKR,337.0,...,"34+4.,34+4.,34+4.,34+4.","38+3.,38+3.,38+3.,38+3.",28+,34+,4.39,lead,NikaPOTAPOVA,female,UKR,2003.0
3,European Youth Cup (L),Munich,2018.0,GER,European Youth Cup (L) - Munich (GER) 2018,7 - 8 July 2018,Nika,POTAPOVA,UKR,42.0,...,"Top1.,Top1.,Top1.,Top1.","31+2.,31+2.,31+2.,31+2.",0,Top,2.65,lead,NikaPOTAPOVA,female,UKR,2003.0
4,European Youth Cup (L),Uster,2018.0,SUI,European Youth Cup (L) - Uster (SUI) 2018,30 June - 1 July 2018,Nika,POTAPOVA,UKR,29.0,...,"40+1.,40+1.,40+1.,40+1.","42+2.,42+2.,42+2.,42+2.",0,51+,3.00,lead,NikaPOTAPOVA,female,UKR,2003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4675,"European Youth Cup (L,S)",Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Jan,KROSZKA,POL,59.0,...,"13 35.,13 35.,13 35.,13 35.,13 35.,13 35.,13 3...","4+37.,4+37.,4+37.,4+37.,4+37.,4+37.,4+37.,4+37.",0,0,36.50,lead,JanKROSZKA,Unknown,Unknown,2003.0
4676,"European Youth Cup (L,S)",Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Tommy,GEORGE,FRA,159.0,...,"33+6.,33+6.,33+6.,33+6.","25 19.,25 19.,25 19.,25 19.",0,0,14.14,lead,TommyGEORGE,Unknown,Unknown,2000.0
4677,"European Youth Cup (L,S)",Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Tommy,GEORGE,FRA,159.0,...,"33+6.,33+6.,33+6.,33+6.,33+6.,33+6.,33+6.,33+6.","25 19.,25 19.,25 19.,25 19.,25 19.,25 19.,25 1...",0,0,14.14,lead,TommyGEORGE,Unknown,Unknown,2000.0
4678,"European Youth Cup (L,S)",Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Alessandro,LARCHER,ITA,180.0,...,"33 15.,33 15.,33 15.,33 15.","23+22.,23+22.,23+22.,23+22.",0,0,18.47,lead,AlessandroLARCHER,Unknown,Unknown,2003.0
4679,"European Youth Cup (L,S)",Voiron,2018.0,FRA,"European Youth Cup (L,S) - Voiron (FRA) 2018",7 - 8 April 2018,Alessandro,LARCHER,ITA,180.0,...,"33 15.,33 15.,33 15.,33 15.,33 15.,33 15.,33 1...","23+22.,23+22.,23+22.,23+22.,23+22.,23+22.,23+2...",0,0,18.47,lead,AlessandroLARCHER,Unknown,Unknown,2004.0

In [219]:
youth_lead.to_csv(r'youth_lead.csv', index = False)

In [224]:
adult_lead_results.columns

Index(['COMP', 'PLACE', 'LOCATION', 'YEAR', 'COUNTRY', 'COMPETITION_TITLE',
       'COMPETITION_DATE', 'FIRST', 'LAST', 'NATION', 'STARTNR', 'RANK',
       'QUALIFICATION', 'QUALIFICATION_1', 'QUALIFICATION_2', 'SEMIFINAL',
       'FINAL', 'POINTS', 'CATEGORY', 'NAME'],
      dtype='object')

In [225]:
adult_lead_results['NAME'] = adult_lead_results['NAME'].str.replace(" ","")

NameError: name 'adult_lead_result' is not defined

In [226]:
adult_lead = pd.merge(adult_lead_results, df_ages, how='outer', on='NAME')

In [227]:
adult_lead.isna().mean()*100

COMP                 74.488322
PLACE                74.488322
LOCATION             74.488322
YEAR                 74.488322
COUNTRY              74.488322
COMPETITION_TITLE    74.488322
COMPETITION_DATE     74.488322
FIRST_x              74.488322
LAST_x               74.488322
NATION_x             74.488322
STARTNR              74.488322
RANK                 74.488322
QUALIFICATION        74.488322
QUALIFICATION_1      74.488322
QUALIFICATION_2      74.488322
SEMIFINAL            74.488322
FINAL                74.488322
POINTS               74.488322
CATEGORY             74.488322
NAME                  0.000000
CLIMBER_ID            1.276186
LAST_y                1.276186
FIRST_y               1.294245
GENDER                2.787142
NATION_y              1.276186
LAST_ACTIVE           5.008428
YOB                  27.341681
dtype: float64

In [228]:
adult_lead = adult_lead[adult_lead['COMPETITION_TITLE'].notna()]

In [229]:
adult_lead.reset_index(drop=True)

,COMP,PLACE,LOCATION,YEAR,COUNTRY,COMPETITION_TITLE,COMPETITION_DATE,FIRST_x,LAST_x,NATION_x,...,POINTS,CATEGORY,NAME,CLIMBER_ID,LAST_y,FIRST_y,GENDER,NATION_y,LAST_ACTIVE,YOB
0,IFSC Climbing Worldcup (L),Kranj (SLO) 2019,Kranj,2019.0,SLO,IFSC Climbing Worldcup (L) - Kranj (SLO) 2019,28 - 29 September 2019,Chaehyun,SEO,KOR,...,6.48,lead,ChaehyunSEO,14506.0,SEO,Chaehyun,female,KOR,06/11/2019,2003.0
1,IFSC Climbing World Championships,Hachioji (JPN) 2019,Hachioji,2019.0,JPN,IFSC Climbing World Championships - Hachioji (...,11 - 21 August 2019,Chaehyun,SEO,KOR,...,5.66,lead,ChaehyunSEO,14506.0,SEO,Chaehyun,female,KOR,06/11/2019,2003.0
2,IFSC Climbing Worldcup (L),Briançon (FRA) 2019,Briançon,2019.0,FRA,IFSC Climbing Worldcup (L) - Briançon (FRA) 2019,19 - 20 July 2019,Chaehyun,SEO,KOR,...,1.73,lead,ChaehyunSEO,14506.0,SEO,Chaehyun,female,KOR,06/11/2019,2003.0
3,"IFSC Climbing Worldcup (L, S)",Chamonix (FRA) 2019,Chamonix,2019.0,FRA,"IFSC Climbing Worldcup (L, S) - Chamonix (FRA)...",11 - 13 July 2019,Chaehyun,SEO,KOR,...,1.50,lead,ChaehyunSEO,14506.0,SEO,Chaehyun,female,KOR,06/11/2019,2003.0
4,"IFSC Climbing Worldcup (L, S)",Villars (SUI) 2019,Villars,2019.0,SUI,"IFSC Climbing Worldcup (L, S) - Villars (SUI) ...",4 - 6 July 2019,Chaehyun,SEO,KOR,...,6.71,lead,ChaehyunSEO,14506.0,SEO,Chaehyun,female,KOR,06/11/2019,2003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,"IFSC Climbing Worldcup (L,S)",Villars (SUI) 2018,Villars,2018.0,SUI,"IFSC Climbing Worldcup (L,S) - Villars (SUI) 2...",6 - 7 July 2018,Olivia,CAMPTON-SMITH,AUS,...,62.00,lead,OliviaCAMPTON-SMITH,11885.0,CAMPTON-SMITH,Olivia,female,AUS,09/08/2018,1999.0
4234,"IFSC Climbing Worldcup (L,S)",Villars (SUI) 2018,Villars,2018.0,SUI,"IFSC Climbing Worldcup (L,S) - Villars (SUI) 2...",6 - 7 July 2018,Gautier,SUPPER,FRA,...,17.89,lead,GautierSUPPER,6498.0,SUPPER,Gautier,male,FRA,2016-11-26,1990.0
4235,"IFSC Climbing Worldcup (L,S)",Villars (SUI) 2018,Villars,2018.0,SUI,"IFSC Climbing Worldcup (L,S) - Villars (SUI) 2...",6 - 7 July 2018,Gautier,SUPPER,FRA,...,17.89,lead,GautierSUPPER,6498.0,SUPPER,Gautier,male,FRA,2016-11-26,1990.0
4236,"IFSC Climbing Worldcup (L,S)",Villars (SUI) 2018,Villars,2018.0,SUI,"IFSC Climbing Worldcup (L,S) - Villars (SUI) 2...",6 - 7 July 2018,Tom,GAUQUELIN,FRA,...,75.35,lead,TomGAUQUELIN,13590.0,GAUQUELIN,Tom,male,FRA,2017-07-12,1998.0
4237,"IFSC Climbing Worldcup (L,S)",Villars (SUI) 2018,Villars,2018.0,SUI,"IFSC Climbing Worldcup (L,S) - Villars (SUI) 2...",6 - 7 July 2018,Tom,GAUQUELIN,FRA,...,75.35,lead,TomGAUQUELIN,13590.0,GAUQUELIN,Tom,male,FRA,2017-07-12,1998.0

In [230]:
adult_lead.isna().mean()*100

COMP                 0.000000
PLACE                0.000000
LOCATION             0.000000
YEAR                 0.000000
COUNTRY              0.000000
COMPETITION_TITLE    0.000000
COMPETITION_DATE     0.000000
FIRST_x              0.000000
LAST_x               0.000000
NATION_x             0.000000
STARTNR              0.000000
RANK                 0.000000
QUALIFICATION        0.000000
QUALIFICATION_1      0.000000
QUALIFICATION_2      0.000000
SEMIFINAL            0.000000
FINAL                0.000000
POINTS               0.000000
CATEGORY             0.000000
NAME                 0.000000
CLIMBER_ID           5.002360
LAST_y               5.002360
FIRST_y              5.002360
GENDER               5.002360
NATION_y             5.002360
LAST_ACTIVE          6.701274
YOB                  5.521472
dtype: float64

In [231]:
adult_lead['GENDER'].fillna("Unknown", inplace=True)
adult_lead['NATION_y'].fillna("Unknown", inplace=True)

In [233]:
adult_lead['YOB'].fillna(0, inplace=True)

In [234]:
adult_lead.isna().mean()*100

COMP                 0.000000
PLACE                0.000000
LOCATION             0.000000
YEAR                 0.000000
COUNTRY              0.000000
COMPETITION_TITLE    0.000000
COMPETITION_DATE     0.000000
FIRST_x              0.000000
LAST_x               0.000000
NATION_x             0.000000
STARTNR              0.000000
RANK                 0.000000
QUALIFICATION        0.000000
QUALIFICATION_1      0.000000
QUALIFICATION_2      0.000000
SEMIFINAL            0.000000
FINAL                0.000000
POINTS               0.000000
CATEGORY             0.000000
NAME                 0.000000
CLIMBER_ID           5.002360
LAST_y               5.002360
FIRST_y              5.002360
GENDER               0.000000
NATION_y             0.000000
LAST_ACTIVE          6.701274
YOB                  0.000000
dtype: float64

In [235]:
adult_lead.duplicated().mean()*100

0.0

In [236]:
adult_lead.drop(['CLIMBER_ID', 'LAST_y', 'FIRST_y','LAST_ACTIVE', 'PLACE'], axis=1, inplace=True)

In [237]:
adult_lead.isna().mean()*100

COMP                 0.0
LOCATION             0.0
YEAR                 0.0
COUNTRY              0.0
COMPETITION_TITLE    0.0
COMPETITION_DATE     0.0
FIRST_x              0.0
LAST_x               0.0
NATION_x             0.0
STARTNR              0.0
RANK                 0.0
QUALIFICATION        0.0
QUALIFICATION_1      0.0
QUALIFICATION_2      0.0
SEMIFINAL            0.0
FINAL                0.0
POINTS               0.0
CATEGORY             0.0
NAME                 0.0
GENDER               0.0
NATION_y             0.0
YOB                  0.0
dtype: float64

In [ ]:
adult_lead.to_csv(r'adult_lead.csv', index = False)